{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
External users
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                External user added
            </h1>
            <!-- <div class="govuk-panel__body">
                Your reference number<br><strong>HDJ2123F</strong>
            </div> -->
        </div>
        
        <p class="govuk-body">
            The user's Authorised Signatory will receive confirmation of this <strong>via email</strong>.
        </p>

        <h2 class="govuk-heading-m">Editing user details</h2>
        <p class="govuk-body">You can edit a user's profile details by locating their name on the <a class="govuk-link" href="./">external users homepage</a>.</p>
        

        <h2 class="govuk-heading-m">Deactiving user</h2>
        <p class="govuk-body">
            You can also deactivate a user, if required, by viewing their user profile.
        </p>
        <hr />
        <p class="govuk-body">
            <a class="govuk-link" href="./">Back to external user list</a>
        </p>
        
        <!-- <p class="govuk-body">
            Inform the user to create a OneLogin account using the email address provided.
        </p> -->
        <!-- <p class="govuk-body">
            They will contact you either to confirm your registration, or to ask for more information.
        </p>
        <p class="govuk-body">
            <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p> -->
    </div>
</div>

{% endblock %}