
* {
    font-family: "proxima-nova", 'Montserrat', arial, sans-serif !important;
}

.contents_list_item {
    padding-top: 10px;
    line-height: 1.3;
    list-style-type: none;

    position: relative;
    padding-left: 25px;
    padding-right: 25px;

    &:before {
        content: "—";
        position: absolute;
        left: 0;
        width: 20px;
        overflow: hidden;
    }
}

ul {
    &.eco-contents-list {
        margin: 0;
    }
}

.govuk-sectio-break--l {
    margin: 30px 0;
}

.app-step-nav-related {
    color: #0B0C0C;
    border-top: 2px solid #1D70B8;
}

.app-step-nav-related--singular {
    margin-bottom: 13px;
    padding-top: 30px;
}

.govuk-grid-row {
    margin-right: -15px;
    margin-left: -15px;
}
.govuk-grid-column-one-third {
    box-sizing: border-box;
    width: 100%;
    padding: 0 15px;
}
@media (min-width: 40.0625em) {
    .govuk-grid-column-one-third {
        width: 33.3333%;
        float: left;
    }
}
.govuk-\!-margin-bottom-5 {
    margin-bottom: 15px !important;
}

.card {
    height: auto;
    color: white;
    border: 1px solid #b1b4b6;
    border-bottom-width: 4px;
}
@media (min-width: 40.0625em) {
    .card {
        height: 180px;
        color: white;
        border: 1px solid #b1b4b6;
        border-bottom-width: 4px;
    }
}

.lead-paragraph {
    font-size: 24px;
    line-height: 1.25;
}

// .print-link__link,
.print-link__button {
    border: 1px solid #b1b4b6;
    color: #1d70b8;
    cursor: pointer;
    margin: 0;
}

.print-link__link, .print-link__button {
    background: url(https://www.gov.uk/assets/government-frontend/govuk_publishing_components/icon-print-9785e3a205c49d1efe1bfe07f3b60cafe820be2d0ca670aa2f4565f5deed4d5f.png) no-repeat 10px 50%;
    background-size: 16px 18px;
    padding: 10px 10px 10px 36px;
    text-decoration: none;
}

.select-error {
    border: 2px solid #d4351c;
}

.govuk-notification-banner--error {
    border-color: #942514;
    background-color: #942514;
}

.govuk-notification-banner__content > * {
    max-width: 100%;
}

.margin-top-20 { margin-bottom: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin0 { margin: 0 !important; }
.margin-bottom0 { margin-bottom: 0; }

.scrollable {
    tbody {
        display: block;
        height: 400px;
        overflow: auto;
    }
    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;/* even columns width , fix width of table too*/
    }
    thead {
        width: calc( 100% - 1em )/* scrollbar is average 1em/16px width, remove it from thead width */
    }
    &.more-height {
        tbody {
            height: 400px;
        }
    }
}

input[type="file"] {
    display: inline-block;
    height: 24px;
    margin-right: 20px;
    text-indent: -120px;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #0b0c0c;
    // font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}
.custom-file-upload {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    color: #0b0c0c;
    // font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin: 0 0 20px;

    svg {
        position: relative;
        top: 5px;
    }
}

.password-reset-on-next-logon-text { width: 40px; }
.password-reset-on-next-logon-switch { margin-left: 20px; }
.flex {
   display: flex;
   flex-direction: row;
}

.magnifying-glass {
    cursor: pointer;
    font-size: 28px;
    padding: 0px 8px;
    background: #f2f2f2;
    border: 1px solid #000;

    &:hover { background: #AAAAAA;}
}

.remove-button-supplement {
    margin-right: 8px;
    width: calc(100% - 50px)!important;
}
.remove-button {
    margin-bottom: 0;
}
.additional-licence-numbers {
    margin-top: 32px;
}

.supplier-num {
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 0;
    }
}

.govuk-table__header:last-child, .govuk-table__cell:last-child {
    text-align: right;
}

.found-users {
    background: #f3f2f1;
    ul {
        border: 0;
        list-style-type: none;
        margin: 0;
        padding: 0 20px;

        li {
            padding: 10px 0;
            p.found-user {
                margin: 0;
                padding: 10px;
                cursor: pointer;
                &:hover { background: #FFFFFF;}
            }
        }
    }
}

.licence-number-container {
    margin-bottom: 20px;
}

.hide { display: none; }

.govuk-form-group--success {
    padding-left: 15px;
    border-left: 5px solid #00703c;
}
.govuk-success-message {
    // font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    font-size: 1.1875rem;
    line-height: 1.3157894737;
    margin-top: 0;
    margin-bottom: 15px;
    clear: both;
    color: #00703c;
}
.govuk-checkboxes {
    margin: 0 0 10px;
    // margin: 0;
    padding: 10px;
}

.govuk-checkboxes__item {
    margin-top: 10px;
}

.scrollable-div {
    overflow-y: auto;
    height: 400px;
    &.small {
        height: 200px;
    }
    &.filters-section {
        height: 70vh;
        min-height: 600px;
        overflow-x: hidden;
    }
}

.result-item {
    border-bottom: 1px solid #b1b4b6;
    margin-bottom: 30px;
}

.govuk-select {
    height: auto;
}

.list-row {
    display: block;
    margin-bottom: 40px;
    width: 100%;

    .list-key, .list-value {
        display: block;
        width: 100%;
    }
    .list-key {
        padding: 0;
    }
    .list-value {
        padding-top: 0;
    }
}
 
.indent40 {
    padding-left: 40px;
}

.left-aligned { text-align: left!important; }
.no-border { border: 0; }
.govuk-header__navigation-list { text-align: right; }
.padding-top-zero { padding-top: 0; }

.hidden { display: none;}

.govuk-table__cell {
    word-break: break-all;
}

.govuk-body.small {
    font-size: 14px;
    margin-bottom: 10px;
}


// RESULTS PAGE
.govuk-table.smaller {
    .govuk-table__row { 
        .govuk-table__header  {
            font-size: 14px;
        }
    }
    .govuk-table__header:last-child, .govuk-table__cell:last-child {
        text-align: left;
    }
    .checkbox-col {
        padding-right: 10px;
        width: 30px;
    }
    .address-col {
        width: 120px;
    }
    .govuk-checkboxes.smaller {
        padding: 0;
        width: 30px;
        .govuk-checkboxes__item {
            min-height: 20px;
            .govuk-checkboxes__input {
                width: 25px;
                height: 25px;
                top: 0px;
                left: 0px;
            }
            .govuk-label.govuk-checkboxes__label {
                &:before {
                    width: 25px;
                    height: 25px;
                }
                &:after {
                    border-width: 0 0 3px 3px;
                    top: 7px;
                    left: 5px;
                    width: 16px;
                    height: 8px;
                }
            }
        }
    }
    tbody {
        tr:nth-of-type(odd) {
            background-color:#f5f5f5;
        }
    }
}


.short-select-width-day { 
    max-width: 3em !important;
    min-width: 3em !important;
}
.short-select-width-month { 
    max-width: 4em !important;
    min-width: 4em !important;
}
.short-select-width-year { 
    max-width: 4em !important;
    min-width: 4em !important;
}

.govuk-select-field__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}


.govuk-form-group--error {
    .short-select-width-month { 
        max-width: 6em !important;
        min-width: 6em !important;
    }
}