{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
    Manage trading obligations
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">
            Manage trading obligations
        </h1>

        <p class="govuk-body">[A description of this feature goes here].</p>

        
        <form id="" method="post" action="manage-trading-obligations/manage-trading-obligations1">
                
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <!-- Supplier licence A (trading from) -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="supplier-licence-a-from">
                            Supplier licence A (trading from)
                        </label>
                        <select class="govuk-select" id="supplier-licence-a-from" name="supplier-licence-a-from" style="width: 100%;">
                            <option value="" disabled="disabled" selected>Select supplier licence number</option>
                            <option value="EON3407430E">EON3401234E</option>
                            <option value="EON3407430E">EON3405678E</option>
                            <option value="EON3407430E">EON3409101E</option>
                            <option value="EON3407430E">EON3402345E</option>
                        </select>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <!-- Supplier licence B (trading to) -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="supplier-licence-b-to">
                            Supplier licence B (trading to)
                        </label>
                        <select class="govuk-select" id="supplier-licence-b-to" name="supplier-licence-b-to" style="width: 100%;">
                            <option value="" disabled="disabled" selected>Select supplier licence number</option>
                            <option value="EON3407430E">EON3401234E</option>
                            <option value="EON3407430E">EON3405678E</option>
                            <option value="EON3407430E">EON3409101E</option>
                            <option value="EON3407430E">EON3402345E</option>
                        </select>
                    </div>
                </div>
            </div>
                
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <!-- GBIS phase to be traded -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="gbis-phase-traded">
                            GBIS phase to be traded
                        </label>
                        <select class="govuk-select" id="gbis-phase-traded" name="gbis-phase-traded" style="width: 100%;">
                            <option value="" disabled="disabled" selected>Select phase</option>
                            <option value="PhaseA">Phase A</option>
                            <option value="PhaseB">Phase B</option>
                            <option value="PhaseC">Phase C</option>
                        </select>
                    </div>
                </div>
                <div class="govuk-grid-column-one-half">
                    <!-- Obligation category to be traded -->
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="obligation-category-traded">
                            Obligation category to be traded
                        </label>
                        <select class="govuk-select" id="obligation-category-traded" name="obligation-category-traded" style="width: 100%;">
                            <option value="" disabled="disabled" selected>Select obligation category traded</option>
                            <option value="HHCRO">HHCRO</option>
                            <option value="LIMR">LIMR</option>
                        </select>
                    </div>
                </div>
            </div>
        
            <!-- Obligation results -->
            <div class="govuk-grid-row">
                <!-- Supplier A current obligation value (£ or household) -->
                <div class="govuk-grid-column-one-half">
                    <div class="dashboard-module">
                        <h3 class="govuk-heading-m"><span class="module-heading">Supplier A</span></h3>
                        <p class="govuk-body">Current obligation value (£ or household):</p>
                        <div class="stat">
                            <p class="single-stat-headline impact-number">
                                <strong>
                                    <abbr aria-label="0" title="0">
                                        <span>£</span>0
                                    </abbr>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Supplier B current obligation value (£ or household) -->
                <div class="govuk-grid-column-one-half">
                    <div class="dashboard-module">
                        <h3 class="govuk-heading-m"><span class="module-heading">Supplier B</span></h3>
                        <p class="govuk-body">Current obligation value (£ or household):</p>
                        <div class="stat">
                            <p class="single-stat-headline impact-number">
                                <strong>
                                    <abbr aria-label="0" title="0">
                                        <span>£</span>0
                                    </abbr>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="event-name">
                            Obligation amount to be traded from A to B
                        </label>
                        <div id="event-name-hint" class="govuk-hint">
                            Enter the obligation amount to be traded from supplier A to supplier B.
                        </div>
                        <input class="govuk-input" id="event-name" name="eventName" type="number" inputmode="numeric">
                    </div>
                </div>
            </div>

            <div class="govuk-grid-row">
                <!-- Supplier A new obligation value (£ or household -->
                <div class="govuk-grid-column-one-half">
                    <div class="dashboard-module">
                        <h3 class="govuk-heading-m"><span class="module-heading">Supplier A</span></h3>
                        <p class="govuk-body">New obligation value (£ or household):</p>
                        <div class="stat">
                            <p class="single-stat-headline impact-number">
                                <strong>
                                    <abbr aria-label="0" title="0">
                                        <span>£</span>0
                                    </abbr>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Supplier B new obligation value (£ or household -->
                <div class="govuk-grid-column-one-half">
                    <div class="dashboard-module">
                        <h3 class="govuk-heading-m"><span class="module-heading">Supplier B</span></h3>
                        <p class="govuk-body">New obligation value (£ or household):</p>
                        <div class="stat">
                            <p class="single-stat-headline impact-number">
                                <strong>
                                    <abbr aria-label="0" title="0">
                                        <span>£</span>0
                                    </abbr>
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Calculate -->
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Calculate
            </button>

        </form>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
        
        <p class="govuk-body"><a href="/internal/v02-4/">Return to homepage</a></p>
    </div>
</div>

{% endblock %}
