{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Announcements
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">External announcements</h1>

        <div>
            <p class="govuk-body">
                <a class="govuk-link" href="internal-announcements">Internal announcements</a> | External announcements | <a class="govuk-link" href="create-announcement">Create announcements</a>
            </p>
        </div>
        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Existing external announcements</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Announcement text</th>
                    <!-- <th scope="col" class="govuk-table__header small-column">Type</th> -->
                    <th scope="col" class="govuk-table__header small-column">Start date</th>
                    <th scope="col" class="govuk-table__header small-column">End date</th>
                    <th scope="col" class="govuk-table__header medium-column">Action</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        <p class="govuk-body announcement-header">Login Issue Resolution</p>
                        <p class="govuk-body">Please be aware that we have performed a fix for the login issue that was impacting users on 21/03/2024 and 22/03/2023/ If you know any users that are unable to login to the register please flag this asap through the regular communication channels.</p>
                    </th>
                    <!-- <td class="govuk-table__cell small-column">Extermal</td> -->
                    <td class="govuk-table__cell small-column">23/03/2023</td>
                    <td class="govuk-table__cell small-column">24/03/2023</td>
                    <td class="govuk-table__cell medium-column"><a class="govuk-link" href="edit-announcement">Edit</a> | <a class="govuk-link" href="delete-announcement">Delete</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                        <p class="govuk-body announcement-header">Investigating issues with project and measure uploads</p>
                        <p class="govuk-body">We are investigating an incident affecting project and measure uploads casuing uploads to fail to progress to core checks. We will provide updates via email and through the Register announcements here soon.</p>
                        <p class="govuk-body"><strong>Updates:</strong> Please be advised that this issue has been fixed and uploads are working as expected.</p>
                    </th>
                    <!-- <td class="govuk-table__cell small-column">Extermal</td> -->
                    <td class="govuk-table__cell small-column">01/12/2022</td>
                    <td class="govuk-table__cell small-column">05/12/2022</td>
                    <td class="govuk-table__cell medium-column"><a class="govuk-link" href="edit-announcement">Edit</a> | <a class="govuk-link" href="delete-announcement">Delete</a></td>
                </tr>
                <!-- <tr class="govuk-table__row">
                    <th class="govuk-table__header">___</th>
                    <td class="govuk-table__cell small-column">Extermal</td>
                    <td class="govuk-table__cell small-column">12/10/2023</td>
                    <td class="govuk-table__cell small-column">22/10/2023</td>
                    <td class="govuk-table__cell medium-column"><a class="govuk-link" href="#">Edit</a> | <a class="govuk-link" href="#">Delete</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <th class="govuk-table__header">___</th>
                    <td class="govuk-table__cell small-column">Extermal</td>
                    <td class="govuk-table__cell small-column">12/10/2023</td>
                    <td class="govuk-table__cell small-column">22/10/2023</td>
                    <td class="govuk-table__cell medium-column"><a class="govuk-link" href="#">Edit</a> | <a class="govuk-link" href="#">Delete</a></td>
                </tr> -->
            </tbody>
        </table>
   
        <p class="govuk-body"><a href="/internal/v02-3/">Return to homepage</a></p>
    </div>
</div>
{% endblock %}