{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
Transfer request withdrawn
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <div class="govuk-notification-banner govuk-notification-banner--info" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h1 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Withdrawn
                </h1>
            </div>
            <div class="govuk-notification-banner__content">
                <h2 class="govuk-notification-banner__heading">
                    Transfer request <strong>GBIS_TR000060</strong> has been withdrawn
                </h2>
            </div>
        </div>

        <p class="govuk-body"><a  class="govuk-button govuk-button--secondary" href="/v13-2/transfers-and-tradings/">Return to manage transfers</a></p>

        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        <p class="govuk-body"><a href="/v13-2/home">Return to homepage</a></p>
    </div>
</div>
{% endblock %}