{% extends "layouts/internal-main2-1.html" %}

{% block pageTitle %}
  Great British Insulation Scheme &mdash; Internal user management
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">GBIS Register for internal users</h1>
    
    <p>Welcome, <span id="welcomeUsernameMessage"></span>.</p>
    <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        
    <div class="govuk-grid-row">

      <!-- Search measures -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m">View supplier uploaded measures</h3>
            <p class="govuk-body card-description short">Search and view measures uploaded to the GBIS register by energy suppliers.</p>
            <a data-test-id="supplier-uploaded-measures-card-link" class="govuk-link card-link" href="search-measures/" aria-describedby="supplier-uploaded-measures-description">Click to view supplier uploaded measures</a>
        </div>
      </div>

      <!-- Automatic late extension report -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m">Automatic late extension report</h3>
            <p class="govuk-body card-description short">Search and view energy supplier automatic late extension reports.</p>
            <a data-test-id="automatic-late-extension-report-card-link" class="govuk-link card-link" href="automatic-late-extension-report/" aria-describedby="automatic-late-extension-report-description">Click to view automatic late extension report</a>
        </div>
      </div>

      <!-- Stage 3 processing -->
      
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m">Stage 3 measure validation</h3>
            <p class="govuk-body card-description short">Trigger stage 3 measure validation and view summary details.</p>
            <a data-test-id="stage-3-measure-validation-card-link" class="govuk-link card-link" href="stage-3-rules/stage-3-processing" aria-describedby="stage-3-measure-validation-description">Click to view Stage 3 measure validation</a>
        </div>
      </div>

    </div>
    
  </div>
</div>

{% endblock %}
