{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
  Internal users prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Internal users prototypes</h1>
    
    <!-- #################### -->
    <!-- Private Beta -->
    <!-- #################### -->
    <h2 class="govuk-heading-l">Private Beta</h2>
    
    <!-- Active prototypes -->
    <h3 class="govuk-heading-m">Active prototypes</h3>
    
    <!-- V1 &mdash; Internal user management -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V1 &mdash; Internal user management</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V01.1</th>
          <td class="govuk-table__cell">Displaying the <strong>user's home page</strong>, <strong>external user's list</strong>; view existing external users and detail, edit external user, remove external user</td>
          <td class="govuk-table__cell">All internal users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="v01-1/">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V01.2</th>
          <td class="govuk-table__cell">There is a problem with the service.</td>
          <td class="govuk-table__cell">All internal users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="v01-1/external-users/request-failed">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    <!--  -->
  </div>
</div>

{% endblock %}
