{#% extends "layouts/internal-main3.html" %#}
{% extends "layouts/internal-main2-2.html" %}

{% block pageTitle %}
  Great British Insulation Scheme &mdash; Internal user management
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>
        
        <h1 class="govuk-heading-l">You do not have permission to use this resource</h1>
        
        <p class="govuk-body">The reason is that your current access level is 'Basic', which does not include permissions to utilise this resource.</p>
        <p class="govuk-body">To gain access, you should submit a request for higher-level access by <a href="#" class="govuk-link">completing a ticket in Ivanti</a>.</p>
    </div>
  </div>
{% endblock %}
