{% extends "layouts/internal-main2-2.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Stage 3 user type and permissions scenarios<br />(remove later)</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">User type and permissions for Stage 3 validation scenarios</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header minwidth100">Scenarios</th>
                            <th scope="col" class="govuk-table__header">Description</th>
                            <th scope="col" class="govuk-table__header">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Basic users</th>
                            <td class="govuk-table__cell"><strong>Basic users</strong> with no access to any Stage 3 validation processes</td>
                            <td class="govuk-table__cell"><a class="govuk-link" href="basic-users-no-access">View</a></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Advanced, Basic, Standard, Admin users</th>
                            <td class="govuk-table__cell"><strong>Advanced/Basic/Standard/Admin user</strong> with access to the Stage 3 validation processes</td>
                            <td class="govuk-table__cell">
                                <a data-test-id="stage-3-measure-validation-card-link" class="govuk-link card-link" href="stage-3-processing" aria-describedby="stage-3-measure-validation-description">View</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" /> -->
           
                <p class="govuk-body"><a href="/internal/v02-1/">Return to homepage</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}