{% extends "layouts/internal-main2-2.html" %}

{% block pageTitle %}
  Great British Insulation Scheme &mdash; Internal user management
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <h1 class="govuk-heading-xl">Stage 3 measure validation</h1>
    
    <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        
    <div class="govuk-grid-row">

      <!-- Trigger Stage 3 Rules -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m">Start stage 3 measure validation</h3>
            <p class="govuk-body card-description short">Start the stage 3 measure validation process.</p>
            <a data-test-id="start-stage-3-measure-validation-card-link" class="govuk-link card-link" id="" href="index.html" aria-describedby="start-stage-3-measure-validation-description">Click to start stage 3 measure validation</a>
        </div>
      </div>

      <!-- View Stage 3 Rules -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m">Stage 3 measure validation summaries</h3>
            <p class="govuk-body card-description short">View stage 3 summary details after measure validation has finished.</p>
            <a data-test-id="stage-3-measure-validation-summaries-card-link" class="govuk-link card-link" id="" href="index2.html" aria-describedby="stage-3-measure-validation-summaries-description">Click to search measures</a>
        </div>
      </div>

      <!-- Revert Stage 3 Rules -->
      <!-- <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
            <h3 class="govuk-heading-m"><a href="reverted-process" class="govuk-link">Revert measure processing</a></h3>
            <p class="govuk-body">Revert the current Stage 3 measures.</p>
        </div>
      </div> -->
    </div>
  </div>
</div>

{% endblock %}
