{% extends "layouts/main.html" %}

{% block pageTitle %}
    measure-12345678.csv
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">
            Stage 2 Errors - measure-12345678.csv
        </h1>

        <p class="govuk-body">This file contains the errors listed below. Fix any errors that have occured and re-upload the file.</p>
        
        <a class="govuk-button" href="../docs/Error-messages-new-format_Apr23.xlsx" download>Download error report</a>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class">Measure reference number</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Measure status</th>
                    <!-- <th scope="col" class="govuk-table__header app-custom-class">Measure stage</th> -->
                    <th scope="col" class="govuk-table__header app-custom-class">Location of error in spreadsheet</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Reason for error</th>
                    <th scope="col" class="govuk-table__header app-custom-class">How to fix error</th>
                    <th scope="col" class="govuk-table__header app-custom-class">Test reference number</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">BGT9751312</td>
                    <td class="govuk-table__cell">There is a space. The measure is expected to have 6 characters. 7 characters have been discovered.</td>
                    <!-- <td class="govuk-table__cell">2</td> -->
                    <td class="govuk-table__cell">Post Main Heating Source for the Property</td>
                    <td class="govuk-table__cell">The answer for the Post Main Heating Source for the Property is invalid.</td>
                    <td class="govuk-table__cell">Edit your answer to the Post Main Heating Source for the Property question.</td>
                    <td class="govuk-table__cell">T41005</td>
                </tr>
            </tbody>
        </table>
        
        <a class="govuk-button" href="../docs/Error-messages-new-format_Apr23.xlsx" download>Download error report</a>

        <h3 class="govuk-heading-l">Get help</h3>
        <p><a href="../v01/guidance-for-the-service" target="_blank">How to upload a measure (opens in a new tab)</a></p>
        <p><a href="../v01/what-you-will-need" target="_blank">What you will need to upload a Measure (opens in a new tab)</a></p>
    </div>
</div>

{% endblock %}
