{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    External user deleted
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                External user deleted
            </h1>
        </div>
        <p class="govuk-body">We have sent a deleted confirmation email to <strong>jeangray@marvelcomics.com</strong>.</p>
        
        <p class="govuk-body">
            <a class="govuk-link" href="/internal/v01-1/external-users/">Back to external user's list</a>
        </p>
    </div>
</div>

{% endblock %}