{% extends "layouts/internal-main2.html" %}

{% block pageTitle %}
    External user deleted
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                External user<br />deactivated
            </h1>
        </div>
        <!-- <p class="govuk-body">We have sent a deleted confirmation email to <strong>jeangray@marvelcomics.com</strong>.</p> -->
        <p class="govuk-body">This user no longer has access to the Great British Insulation Scheme portal. Their user profile still exists.</p>
        <p class="govuk-body">The users' Authorised Signatory will receive confirmation of this <strong>via email</strong>.</p>
        <p class="govuk-body">If you wish to reactivate this user profile by accessing the details on the external user list.</p>

        
        <hr />
        <p class="govuk-body">
            <a class="govuk-link" href="./">Back to external user list</a>
        </p>
    </div>
</div>

{% endblock %}