{% extends "layouts/v09-external-ofgem-main.html" %}

{% block pageTitle %}
    {{serviceName}} guidance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <style>
        .govuk-width-container {
            margin-left: auto;
            margin-right: auto;
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            max-width: calc(1280px + 7.5rem);
        }
        h2 {
            font-size: 1.8rem;
        }
        h3 {
            font-size: 1.625rem;
            margin-top: 1rem;
        }
        h4 {
            font-size: 1.125rem;
            margin-top: 1rem;
        }
        /* h2, h3 {
            margin-bottom: 3rem;
        } */
        p {
            margin-bottom: 1.25rem;
            color: rgba(29,43,57,var(--text-opacity));
            font-size: 1.1rem !important;
            line-height: 1.8rem !important;
        }

        .custom-font-style {
            font-family: 'Montserrat',arial,sans-serif !important;
            color: rgba(29,43,57,var(--text-opacity)) !important;
        }

        /* Button */
        .govuk-button--start {
            font-weight: 700;
            font-size: 18px;
            font-size: 1.125rem;
            line-height: 1;
            display: inline-flex;
            min-height: auto;
            justify-content: center;
        }
        .govuk-button:link, .govuk-button:visited, .govuk-button:active, .govuk-button:hover {
            color: #fff;
            text-decoration: none;
        }
        @media (min-width: 40.0625em) {
            .govuk-button--start {
                font-size: 1.5rem !important;
                line-height: 1;
            }
        }

        ul.custom-ofgem-bullets {
            list-style-type: disc;
            margin-bottom: 1.25rem;
            padding-left: 2.25rem;
        }

        /* a  {
            text-decoration: underline;
            --text-opacity: 1;
            color: #2363af;
            color: rgba(35,99,175,var(--text-opacity));
            -webkit-text-decoration-skip: ink;
            text-decoration-skip-ink: auto;
            transition: color .3 ease 0s;
        } */
        /* .c-button {
            --bg-opacity: 1;
            background-color: #1d2b39;
            background-color: rgba(29,43,57,var(--bg-opacity));
            --text-opacity: 1;
            color: #fff;
            color: rgba(255,255,255,var(--text-opacity));
        } */
        .c-button--cta {
            display: inline-flex;
            align-items: center;
            padding: .5rem 1.5rem;
            border-radius: 9999px;
            text-decoration: none;
            transition-property: background-color,border-color,color,fill,stroke;
            transition-duration: .2s;
            color: #fff!important;
        }

        ..c-button--cta:visited {
            color: #fff!important;
        }
        
        /*
        .text-color-yellow {
            --text-opacity: 1;
            color: #fbb515;
            color: rgba(251,181,21,var(--text-opacity));
        }
        */

    </style>

    <div class="govuk-grid-column-one-third">
        <h2 class="">Energy suppliers</h2>
        &nbsp;
    </div>
    
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body custom-font-style">The Great British Insulation Scheme is a government energy-efficiency scheme that is administered by Ofgem. It is designed to deliver improvements to the least energy-efficient homes in Great Britain to help tackle fuel poverty and reduce carbon emissions.</p>
        <p class="govuk-body custom-font-style">To find out more about the Great British Insulation Scheme, see the About the scheme web page.</p>
        

        <h3 class="custom-font-style">When do energy suppliers become obligated to take part in the Great British Insulation Scheme?</h3>
        <p class="govuk-body custom-font-style">Following legislation coming into force on 25 July 2023, large and medium-sized energy suppliers have legal obligations under the Great British Insulation Scheme if they meet the obligation threshold. This is determined by customer numbers and supply volumes which we will request from suppliers at specific times.</p>
        <p class="govuk-body custom-font-style">We offer advice and assistance to all newly obligated suppliers to make sure they are sufficiently prepared to take part in the scheme.</p>
        <p class="govuk-body custom-font-style">To access all scheme guidance and relevant forms, go to the Contacts, guidance, and resources web page.</p>


        <!-- ######################### -->
        <div class="flex justify-between p-5 border border-color-theme my-10 [ first:mt-0 last:mb-0 ]" style="border-color: #92ae2a;">
            <div>
                
                <h2 class="custom-font-style">The Great British Insulation Scheme portal</h2>
                <p class="custom-font-style">Energy suppliers are obligated to let Ofgem know about measures they've delivered to customers. To do this, they use the <strong>Great British Insulation Scheme portal</strong> to record these measures.</p>
                <p class="custom-font-style">All users need a <strong>GOV UK One Login account</strong> and a <strong>Great British Insulation Scheme user profile</strong> to access and use the portal.</p>

                <h3 class="custom-font-style">You need a GOV.UK One Login account to use the portal</h3>
                <p class="custom-font-style">You <strong>must have</strong> a GOV.UK One Login account to access and use the Great British Insulation Scheme portal.</p>

                <h4 class="custom-font-style">Why do you need a GOV.UK One Login account?</h4>
                <p class="custom-font-style">We use your GOV.UK One Login account to verify you. This is so we can create your Great British Insulation Scheme user profile. You should use the <strong>same email address</strong> when creating both.</p>
                <p class="custom-font-style">Once you have a GOV.UK One Login account, you're ready to request a Great British Insulation Scheme user profile from Ofgem.</p>

                <h4 class="custom-font-style">How you create a GOV.UK One Login account</h4>
                <p class="custom-font-style">You create your account on the GOV.UK One Login website. You will receive step by step instructions on how to do this.</p>
                
                <p class="custom-font-style"><a href="#">Create a GOV.UK One Login account ></a></p>

                <h4 class="custom-font-style">If you already have a GOV.UK One Login account and a Great British Insulation Scheme user profile</h4>
                <p class="custom-font-style">If you have already have both, you're ready to use the portal.</p>
                
                <a class="group c-button c-button--cta hidden [ md:ml-auto md:self-end md:inline-flex md:flex-none md:mb-10 ] [ lg:mb-12 ]" href="/v10/home">Use the Great British Insulation Scheme portal</a>
                
                <h3 class="custom-font-style">Request a Great British Insulation Scheme user profile</h3>
                <p class="custom-font-style">As well as the GOV.UK One Login account, you <strong>need a Great British Insulation Scheme user profile</strong> to use the portal.</p>
                <p class="custom-font-style">You can only request user profiles for yourself and colleagues <strong>if you're the authorised signatory</strong> for your organisation.</p>

                <h4 class="custom-font-style">Sending your request to Ofgem</h4>
                <p class="custom-font-style">The authorised signatory  can request user profiles by sending an email to Ofgem at <a href="mailto:GBIS.enquiry@ofgem.gov.uk">GBIS.enquiry@ofgem.gov.uk</a>.</p>
                <p class="custom-font-style">In the email, you should state who you need user profiles for. Include their:</p>
                <ul class="custom-ofgem-bullets">
                    <li>first name and surname</li>
                    <li>role within the organisation</li>
                    <li>email address</li>
                </ul>

                <h4 class="custom-font-style">The email address you send this request from</h4>
                <p class="custom-font-style">You should <strong>send this email from the same email address</strong> you use to create your GOV.UK One Login account.</p>
                <p class="custom-font-style">This allows us to verify your identity with your GOV.UK One Login account.</p>
                
                <h4 class="custom-font-style">How long does it take to set up your user profiles?</h4>
                <p class="custom-font-style">After sending your request email, the Ofgem team will be in touch with you by email about creating your required user profiles.</p>
                <p class="custom-font-style">If you already have a GOV.UK One Login account and you respond to our email reply immediately, we should be able to grant you access to the portal promptly.</p>
                
                <h3 class="custom-font-style">Using the portal</h3>
                <p class="custom-font-style">Once you have the required Great British Insulation Scheme profile and GOV.UK One Login account, you can use the portal.</p>
                <p class="custom-font-style">The portal can be used to:</p>
                <ul class="custom-ofgem-bullets">
                    <li>upload measures</li>
                    <li>search for measures</li>
                    <li>view error reports</li>
                </ul>

                <a class="group c-button c-button--cta hidden [ md:ml-auto md:self-end md:inline-flex md:flex-none md:mb-10 ] [ lg:mb-12 ]" href="/v10/home">Use the Great British Insulation Scheme portal</a>

                <h3 class="custom-font-style">If you need help accessing or using the portal</h3>
                <p class="custom-font-style">You can contact us by email at <a href="mailto:GBIS.enquiry@ofgem.gov.uk">GBIS.enquiry@ofgem.gov.uk</a> or by phone on <a href="tel:02079017295">020 7901 7295</a> if you need help or have questions about:</p>
                <ul class="custom-ofgem-bullets">
                    <li>getting access to the portal</li>
                    <li>using the portal</li>
                    <li>anything else relating to the Great British Insulation Scheme</li>
                </ul>
            </div>

            <svg class="w-10 h-10 ml-5 flex-none fill-current text-color-yellow" focusable="false" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 256 256" enable-background="new 0 0 256 256" xml:space="preserve">
                <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                <g><g><g><path fill="#fbb515" d="M117.1,10.3C89.2,13,63.8,25.1,44.1,45C25.8,63.5,15,85.3,10.9,111.9c-1.2,8.2-1.1,24.9,0.2,33.5c2.1,13.1,5.4,23.6,11.2,35.3c9.3,18.8,23.2,34.5,40.9,46.3c9.9,6.6,24.6,13,36.3,15.8c10,2.4,16.3,3.2,28,3.2c14.8,0,24.3-1.4,37.7-5.8c17.3-5.7,33.5-15.8,46.6-29.1c9.7-9.8,15.8-18.5,22.1-31.1c5.9-11.9,9.4-23.4,11.4-37.4c0.8-5.4,0.8-23.6,0-29.1c-3.9-27.4-15.1-50.2-33.8-69C193.3,26.2,170.9,15,144.6,11C138.9,10.1,123.1,9.7,117.1,10.3z M132.2,54.9c4.8,1.4,8.8,6.9,8.8,12.2c0,6.9-6,12.9-12.9,12.9c-6.9,0-12.9-6-12.9-12.9c0-6.9,5.8-12.8,12.7-12.9C128.8,54.1,130.8,54.5,132.2,54.9z M133.6,99.9c2.8,1.4,4.5,3,5.9,5.8l1.2,2.3v42.3v42.3l-1.2,2.3c-2.4,4.7-6.2,6.9-11.5,6.9c-5.4,0-9.1-2.4-11.6-7.2l-1.1-2.1v-42.3v-42.3l1.1-2.1c1.8-3.6,4.4-5.7,8.4-7C126.8,98.3,131.3,98.8,133.6,99.9z"/></g></g></g>
            </svg>
                
        </div>
        <!-- ######################### -->

        
        <h3 class="custom-font-style">What are energy suppliers' responsibilities?</h3>
        <p class="govuk-body custom-font-style">Energy suppliers are responsible for meeting their obligations and ensuring that they, and any members of the supply chain acting on their behalf, comply with scheme requirements.</p>


        <h3 class="custom-font-style">How are energy suppliers' targets worked out?</h3>
        <p class="govuk-body custom-font-style">As scheme administrator, we are responsible for setting energy suppliers’ obligations. We do this using a calculation based on their share of the gas and electricity supply market. This is determined by the Great British Insulation Scheme legislation, referred to as the ECO4A Order.</p>


        <h3 class="custom-font-style">Can suppliers trade their obligations?</h3>
        <p class="govuk-body custom-font-style">Obligated energy suppliers have the option to trade their obligations with other obligated energy suppliers.</p>
        <p class="govuk-body custom-font-style">The Great British Insulation Scheme Supplier Administration guidance includes information on how energy suppliers should go about this.</p>


        <h3 class="custom-font-style">Are there innovation incentives?</h3>
        <p class="govuk-body custom-font-style">The scheme includes incentives designed to support the delivery of innovative measures that can provide further energy efficiency improvements, or that offer additional benefits, via the New Measures and Products (NMAP) innovation route.</p>


        <h3 class="custom-font-style">How do suppliers notify us of measures?</h3>
        <p class="govuk-body custom-font-style">Obligated energy suppliers notify us of the measures they’ve delivered. We are currently building a register to allow measure notification and processing to take place. Ofgem will contact the relevant suppliers once the digital platform is ready.</p>
        <p class="govuk-body custom-font-style">More details can be found in the Great British Insulation Scheme Supplier Administration Guidance. We have also published the Great British Insulation Scheme Supplier Data Dictionary, in order to provide suppliers with advance notice of the information they may be required to obtain in the Great British Insulation Scheme for the purposes of notification.</p>


        <h3 class="custom-font-style">How do we engage with stakeholders?</h3>
        <p class="govuk-body custom-font-style">We believe that engaging with stakeholders when designing and delivering schemes brings real benefits. We do this via forums and working groups which gather contributions from a range of stakeholders about the main operational and delivery issues in the Great British Insulation Scheme. To find out more, see our section dedicated to Stakeholder Engagement.</p>
        <p class="govuk-body custom-font-style">To keep up to date on the you can subscribe to receive our latest news and communications.</p>
    </div>
</div>

{% endblock %}
