{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
Manage measure transfers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">
            Manage measure transfers
        </h1>
        
        <h2 class="govuk-heading-l">
            Transfers
        </h2>

        <p class="govuk-body">Request transfer of measures or manage approval requests for transferring measures in GBIS.</p>

        <div class="grid-list">

            <!-- Request transfer of measures -->
            <div class="card govuk-!-padding-5">
                <h3 class="govuk-heading-m">Request transfer of measures</h3>
                <p class="govuk-body card-description">Send information about your request to transfer measures to another energy supplier.</p>
                <p class="govuk-body"><a data-test-id="request-transfer-card-link" class="govuk-link " href="/v13-1/transfers-and-tradings/request-transfer" aria-describedby="request-transfer-description">Request transfer of measures</a></p>
            </div>
            
            <!-- Manage measure approval requests -->
            <div class="card govuk-!-padding-5">
                <h3 class="govuk-heading-m">Manage measure approval requests</h3>
                <p class="govuk-body card-description">View, accept and decline all measure approval requests sent and received.</p>
                <p class="govuk-body"><a data-test-id="manage-transfers-card-link" class="govuk-link " id="" href="/v13-1/transfers-and-tradings/manage-transfers" aria-describedby="maange-transfer-description">Manage measure approvals</a></p>
            </div>
            
        </div>

        <!-- <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />

        <h2 class="govuk-heading-l">
            Tradings
        </h2> -->
        
        <!-- Manage trading obligations -->
        <!-- <div class="grid-list">
            <div class="card govuk-!-padding-5">
                <h3 class="govuk-heading-m">Manage trading obligations</h3>
                <p class="govuk-body"><a data-test-id="request-transfer-card-link" class="govuk-link " href="/v13-1/transfers-and-tradings/manage-trading-obligations" aria-describedby="request-transfer-description">Click to manage trading obligations</a></p>
            </div>
        </div> -->

        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        
        <p class="govuk-body"><a href="/v13-1/home">Return to homepage</a></p>

    </div>
</div>

{% endblock %}
