{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
    Transfers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">
            Transfers
        </h1>

        <p class="govuk-body">Request approval of a transfer and manage approval requests.</p>

        <div class="grid-list">

            <!-- Request a transfer -->
            <div class="card govuk-!-padding-5">
                <h3 class="govuk-heading-m">Request a transfer</h3>
                <p class="govuk-body card-description">Request approval of transfer of measures.</p>
                <!-- <p class="govuk-body"><a data-test-id="measures-upload-card-link" class="govuk-link " href="transfers-and-tradings/request-transfer" aria-describedby="upload-measures-description">Click to request a transfer</a></p> -->
                <p class="govuk-body"><a data-test-id="request-transfer-card-link" class="govuk-link " href="/v13-1/transfers-and-tradings/request-transfer" aria-describedby="request-transfer-description">Click to request a transfer</a></p>
            </div>
            
            <!-- Manage approval requests -->
            <div class="card govuk-!-padding-5">
                <h3 class="govuk-heading-m">Manage approval requests</h3>
                <p class="govuk-body card-description">Manage approval requests of transfered measures.</p>
                <!-- <p class="govuk-body"><a data-test-id="search-measures-card-link" class="govuk-link " id="" href="transfers-and-tradings/manage-transfers" aria-describedby="search-measures-description">Click to manage transfers</a></p> -->
                <p class="govuk-body"><a data-test-id="manage-transfers-card-link" class="govuk-link " id="" href="/v13-1/transfers-and-tradings/manage-transfers" aria-describedby="maange-transfer-description">Click to manage transfers</a></p>
            </div>
            
        </div>

        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        
        <p class="govuk-body"><a href="/v13-1/home">Return to homepage</a></p>

    </div>
</div>

{% endblock %}
