{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
View approval requests raised
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Raised transfer requests</h1>

        <p class="govuk-body">View all the approval requests your organisation/you has/have raised.</p>
        <p>Requests raised | <a class="govuk-link" href="view-approval-requests-approved">Approved requests</a></p>
        <table class="govuk-table" id="BGT">
            <caption class="govuk-table__caption govuk-table__caption--m">Raised approval requests</caption>
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Tansfer request number</th>
                    <th scope="col" class="govuk-table__header">Transfer status</th>
                    <th scope="col" class="govuk-table__header">Transfer from</th>
                    <th scope="col" class="govuk-table__header">Transfer to</th>
                    <th scope="col" class="govuk-table__header">Raised date</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">GBIS_TR000060</td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--blue">Approval of transfer requested</span></td>
                    <td class="govuk-table__cell">OCT3401234E</td>
                    <td class="govuk-table__cell">EON0307811E</td>
                    <td class="govuk-table__cell">01/08/2024</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="view-approval-requests-details-raised">View detail</a></td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">GBIS_TR000045</td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--turquoise">Request for approval being assessed</span></td>
                    <td class="govuk-table__cell">OCT3405699E</td>
                    <td class="govuk-table__cell">BGT0307822E</td>
                    <td class="govuk-table__cell">21/07/2024</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="view-approval-requests-details-being-assessed">View detail</a></td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">GBIS_TR000034</td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--yellow">Request for approval withdrawn</span></td>
                    <td class="govuk-table__cell">OCT3405699E</td>
                    <td class="govuk-table__cell">ABC0307822E</td>
                    <td class="govuk-table__cell">11/06/2024</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="view-approval-requests-details-withdrawn">View detail</a></td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">GBIS_TR000031</td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--red">Request not supported</span></td>
                    <td class="govuk-table__cell">OCT3405699E</td>
                    <td class="govuk-table__cell">XYZ0307822E</td>
                    <td class="govuk-table__cell">15/03/2024</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="view-approval-requests-details-declined">View detail</a></td>
                </tr>
                <tr>
                    <td class="govuk-table__cell">GBIS_TR000087</td>
                    <td class="govuk-table__cell"><span class="govuk-tag govuk-tag--red">Transfer not approved</span></td>
                    <td class="govuk-table__cell">OCT3455639E</td>
                    <td class="govuk-table__cell">XYZ0305826E</td>
                    <td class="govuk-table__cell">05/03/2024</td>
                    <td class="govuk-table__cell"><a class="govuk-link" href="view-approval-requests-details-not-approved">View detail</a></td>
                </tr>
            </tbody>
        </table>
        <div class="sr-only">End of the raised requests list</div>

        <p class="govuk-body"><a href="/v13-1/home">Return to homepage</a></p>
    </div>
</div>
{% endblock %}