{% extends "layouts/main.html" %}

{% block pageTitle %}
Transfer request details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Transfer request details</h1>
        
        <div id="measureDetails">
            <p class="govuk-body">Your organisation has raised following transfer.</p>

            <div class="govuk-grid-row">
              <!-- Left half -->
              <div class="govuk-grid-column-one-half">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row list-row">
                    <dt class="govuk-summary-list__key list-key">Tansfer request number</dt>
                    <dd class="govuk-summary-list__value list-value">GBIS_TR000060</dd>
                  </div>
        
                  <div class="govuk-summary-list__row list-row">
                    <dt class="govuk-summary-list__key list-key">Raised date</dt>
                    <dd class="govuk-summary-list__value list-value">01/08/2024</dd>
                  </div>
                </dl>
              </div>
        
              <!-- Right half -->
              <div class="govuk-grid-column-one-half">
                <dl class="govuk-summary-list">
                  <div class="govuk-summary-list__row list-row">
                    <dt class="govuk-summary-list__key list-key">Transfer from</dt>
                    <dd class="govuk-summary-list__value list-value">EON3401234E</dd>
                  </div>
                  
                  <div class="govuk-summary-list__row list-row">
                    <dt class="govuk-summary-list__key list-key">Transfer to</dt>
                    <dd class="govuk-summary-list__value list-value">BGT0307811E</dd>
                  </div>
                </dl>
              </div>
            </div>
            
            <!-- General measure details card -->
            <div class="govuk-summary-card">
              <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">General transfer details</h2>
              </div>
              <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Transfer status</dt>
                    <dd class="govuk-summary-list__value">Approval of transfer requested</dd>
                  </div>

                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Number of measures</dt>
                    <dd class="govuk-summary-list__value">3</dd>
                  </div>
                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">GBIS obligation amount</dt>
                    <dd class="govuk-summary-list__value">£203.40</dd>
                  </div>
                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">LIMR sub-obligation amount</dt>
                    <dd class="govuk-summary-list__value">£203.40</dd>
                  </div>
                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Raised by</dt>
                    <dd class="govuk-summary-list__value">Jean Grey</dd>
                  </div>
                  
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Supplementary information</dt>
                    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</dd>
                  </div>
                </dl>
              </div>
            </div>

            <!-- <h2 class="govuk-heading-m">Transfer reason notes </h2> -->
            <!-- <form id="declineReasons" method="post" action="accept-transfer-request-raised"> -->
              <!-- Upload MRN CSV -->
              <!-- <div class="govuk-form-group">
                <div class="upload-container">
                    <label for="file-upload" class="custom-file-upload">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M11 14.9861C11 15.5384 11.4477 15.9861 12 15.9861C12.5523 15.9861 13 15.5384 13 14.9861V7.82831L16.2428 11.0711L17.657 9.65685L12.0001 4L6.34326 9.65685L7.75748 11.0711L11 7.82854V14.9861Z" fill="currentColor"/>
                            <path d="M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z" fill="currentColor"/>
                        </svg> Choose file
                    </label>
                    <input  class="" 
                            id="file-upload" 
                            name="file-upload" 
                            type="file" 
                            accept=".csv" 
                            tabindex="0"
                            title="file-upload"
                            onchange="fileSelection()"/>
                  </div>
              </div>
              <button id="uploadBtn" aria-disabled="true" class="govuk-button govuk-button--disabled margin0" class="govuk-button"  onclick="updaloadFile()" type="button">Upload a measure file</button> -->

              <!-- Transfer notes -->
              <!-- <div class="govuk-form-group">
                <label class="govuk-label" for="transfer-reason-notes-detail">
                  Reasons for declining the transfer request
                </label>
                <textarea class="govuk-textarea" id="transfer-reason-notes-detail" name="transferReasonNotesDetail" rows="5"></textarea>
              </div> -->

              <!-- Accept/decline transfer -->
              <!-- <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Accept transfer
                </button>
                <a href="decline-transfer-request-raised" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                  Decline transfer
                </a>
              </div>
            </form> -->
            
        </div>

        <p class="govuk-body">
            <a class="govuk-link" href="view-approval-requests-raised.html">View raised approval requests</a>
        </p>
    </div>
</div>
{% endblock %}

