{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Add an  internal user
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Add an internal user
          </h1>
        </legend>
    
        <!-- Search -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="searchUsers">
              Search internal users
          </label>
          <div class="flex">
            <input placeholder="Search users..." name="searchUsers" type="text" class="govuk-input" value="" />
            <button type="submit" class="magnifying-glass" onclick="findUser()">&#x1F50E;&#xFE0E;</button>
          </div>
          <div id="foundUsers" class="found-users hide">
            <ul>
              <li><p class="govuk-body found-user" onclick="addUser1()">Joe Bloggs</p></li>
              <li><p class="govuk-body found-user" onclick="addUser2()">Joe Nash</p></li>
            </ul>
          </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <!-- Username -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="Username">
            Username
          </label>
          <input class="govuk-input govuk-!-width-full" id="Username" name="Username" type="text" autocomplete="Username" value="peternash" disabled="disabled" aria-disabled="true">
          
        </div>

        <!-- Title -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="Title">
            Title
          </label>
          <input class="govuk-input govuk-!-width-full" id="Title" name="Title" type="text" readonly autocomplete="Title" value="Mr" disabled="disabled" aria-disabled="true">
        </div>

        <!-- First name -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="first-name">
            First name
          </label>
          <input class="govuk-input govuk-!-width-full" id="first-name" name="first-name" type="text" autocomplete="first-name" value="Peter" disabled="disabled" aria-disabled="true">
        </div>

        <!-- Middle initials -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="middle-initials">
            Middle initials
          </label>
          <input class="govuk-input govuk-!-width-full" id="middle-initials" name="middle-initials" type="text" autocomplete="middle-initials" value="Thomas" disabled="disabled" aria-disabled="true">
        </div>

        <!-- Last name -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="last-name">
            Last name
          </label>
          <input class="govuk-input govuk-!-width-full" id="last-name" name="last-name" type="text" autocomplete="last-name" value="Nash" disabled="disabled" aria-disabled="true">
        </div>

        <!-- Job title -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="job-title">
            Job title
          </label>
          <input class="govuk-input govuk-!-width-full" id="job-title" name="job-title" type="text" autocomplete="job-title" value="Customer Service agent" disabled="disabled" aria-disabled="true">
        </div>

        <!-- Email address -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-full" id="email-address" name="email-address" type="text" autocomplete="email-address" value="peternash@orgmail.com" disabled="disabled" aria-disabled="true">
        </div>

        <!-- Telephone number -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="telephone-number">
            Telephone number
          </label>
          <input class="govuk-input govuk-!-width-full" id="telephone-number" name="telephone-number" type="text" autocomplete="telephone-number" value="01722235446" disabled="disabled" aria-disabled="true">
        </div>

        <!-- User type -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="user-type">
            User type
          </label>
          <select class="govuk-select govuk-!-width-full" id="user-type" name="user-type">
            <option value="" selected disabled hidden>Select a user type</option>
            <option value="InternalAdmin">InternalAdmin</option>
            <option value="ECOStandardRole">ECOStandardRole</option>
            <option value="ECOBasicRole">ECOBasicRole</option>
            <option value="ECOAdvancedRole">ECOAdvancedRole</option>
          </select>
        </div>

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="check-your-answers">
                Create
            </a>
            <a class="govuk-link" href="./">Cancel</a>
          </div>

    </fieldset>

  </div>
</div>

{% endblock %}
