{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
  Internal users
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <h1 class="govuk-heading-xl">Internal users</h1>

    <a class="govuk-link" href="create-new-internal-user">Create a new internal user</a>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
   
    <!-- Search -->
    <div class="govuk-form-group">
        <label class="govuk-label" for="searchUsers">
            Search internal users
        </label>
        <div class="flex">
          <input placeholder="Search users..." name="searchUsers" type="text" class="govuk-input" value="" />
          <button type="submit" class="magnifying-glass">&#x1F50E;&#xFE0E;</button>
        </div>
    </div>
    
    <!-- Show list of existing externa users here -->
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">Miss Jean Kelly Gray</h2>
        <a  class="govuk-link" 
            href="view-internal-details" 
            onclick="viewInternalUserDetails('CORP/jeangray', 'Miss', 'Jean', 'Kelly', 'Gray', 'Quality assurance tester', 'jeangray@marvelcomics.com', '01700234567', 'AuthorisedSignatoryRole')">
            View
        </a>
      </div>
      <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Username
            </dt>
            <dd class="govuk-summary-list__value">
              <span>CORP\Abrahama</span>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job title
            </dt>
            <dd class="govuk-summary-list__value">
              <span>Quality assurance tester</span>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              <span>jeangray@marvelcomics.com</span>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              <span>01700234567</span>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User type
            </dt>
            <dd class="govuk-summary-list__value">
              <span>AuthorisedSignatoryRole</span>
            </dd>
            <!-- <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> working situation</span>
              </a>
            </dd> -->
          </div>


        </dl>
      </div>
    </div>

  </div>
</div>

{% endblock %}
