{% extends "layouts/main.html" %}

{% block pageTitle %}
    Reset password
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Reset password
    </h1>

    <p>In order to meet Ofgem's security standards, make sure chosen password is:</p>
    <ul class="govuk-list govuk-list--bullet">

        <li>set a minimum length of at least 8 characters</li>
        <li>use combination of uppercase letters, lowercase letters, numbers, and or symbols</li>
        <li>do not use a word that can be found in the dictionary or the name of a person, character, product, or organisation</li>
        <li>etc.</li>
    </ul>

    <form action="password-reset-confirmation" method="post" novalidate>
      <!-- Password -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Password
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="password">
      </div>

      
      <!-- Repeat password -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="repeat-password">
          Repeat password
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="repeat-password" name="repeat-password" type="password">
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Reset password
        </button>
      </div>
    </form>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body"><a href="sign-in">Already have an account?</a></p>

  </div>
</div>

{% endblock %}
