{% extends "layouts/main.html" %}

{% block pageTitle %}
File upload successful
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        File uploaded
      </h1>
    </div>

    <h2 class="govuk-heading-l">This file has errors</h2>
    
    <p class="govuk-body">The file contains <strong>[no.]</strong> measures with errors. These measures with errors have:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>failed the core stage checks</li>
      <li>not been uploaded into the register</li>
    </ul>

    <p class="govuk-body">You need to download the error report containing the unsuccessful measures to find out why they have failed. You will also receive these errors via email.</p>

    <h2 class="govuk-heading-l">What happens next?</h2>

    <p class="govuk-body">The remaining <strong>[no.] measures without errors</strong> will now go through additional checks to validate the information in the file.</p>
    <p class="govuk-body">The measures in the file with errors will not progress for additional checks. You must fix these before progressing.</p>
    
    <h3 class="govuk-heading-m">Fixing the errors in the file</h3>

    <p class="govuk-body">Before you can progress, you must <strong>fix the measures containing errors</strong>.</p>
    <p class="govuk-body">First, you must <strong>download the error report</strong>. Then, you need to <strong>upload the measures</strong> which failed the core stage checks.</p>
    <p class="govuk-body">This can be done in two ways. You can:</p>

    <div data-module="appstepnav" id="step-by-step-navigation" class="app-step-nav govuk-!-display-none-print app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
        <ol class="app-step-nav__steps" id="stepByStep">
            <li class="app-step-nav__step js-step app-step-nav__step--active" aria-current="step" id="">
                <div class="app-step-nav__header js-toggle-panel" data-position="1">
                    <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                        <span class="app-step-nav__circle-background">
                            <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> 1<span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                        </span>
                        </span>
                    </span>
        
                    <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-check-you-re-allowed-to-drive-1"><span class="app-step-nav____title-text-focus"><span class="app-step-nav__title-text js-step-title-text">
                      Fix the errors and upload the entire file again
                    </span><span class="govuk-visually-hidden app-step-nav__section-heading-divider">, </span></span><span class="app-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="app-step-nav__toggle-link-focus"><span class="app-step-nav__chevron js-toggle-link-icon app-step-nav__chevron--down"></span><span class="app-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
                    </h3>
                </div>
        
                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-check-you-re-allowed-to-drive-1">
                    <p class="app-step-nav__paragraph">Follow the instructions to fix the measures with errors, then reupload the entire file again.</p>
                </div>
            </li>
            <li class="app-step-nav__step js-step" id="driving-lessons-and-practice" >
                <div class="app-step-nav__header js-toggle-panel" data-position="2">
                    <h3 class="app-step-nav__title">
                    <span class="app-step-nav__circle app-step-nav__circle--number">
                        <span class="app-step-nav__circle-inner">
                          <span class="app-step-nav__circle-background">
                              <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span> Or <span class="govuk-visually-hidden govuk-!-display-none-print" aria-hidden="true">:</span>
                          </span>
                        </span>
                    </span>
        
                    <span class="js-step-title"><button class="app-step-nav__button app-step-nav__button--title js-step-title-button" aria-expanded="false" aria-controls="step-panel-driving-lessons-and-practice-3"><span class="app-step-nav____title-text-focus"><span class="app-step-nav__title-text js-step-title-text">
                      Fix the errors and upload a new file with only the failed measures
                    </span><span class="govuk-visually-hidden app-step-nav__section-heading-divider">, </span></span><span class="app-step-nav__toggle-link js-toggle-link govuk-!-display-none-print"><span class="app-step-nav__toggle-link-focus"><span class="app-step-nav__chevron js-toggle-link-icon app-step-nav__chevron--down"></span><span class="app-step-nav__button-text js-toggle-link-text">Show</span></span><span class="govuk-visually-hidden"> this section</span></span></button></span>
                    </h3>
                </div>
        
                <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-driving-lessons-and-practice-3">
                    <p class="app-step-nav__paragraph">Follow the instructions to fix the measures with errors, then upload a new file containing only these measures.</p>
                </div>
            </li>
        </ol>
    </div>

    <h2 class="govuk-heading-l">Downloading your error report</h2>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        This is the only opportunity to download the report containing the core check errors.
      </strong>
    </div>

    <p class="govuk-body">If you do not download it here, you'll be unable to access it afterwards and have to upload your file again to generate the error report.</p>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Download error report
      </button>
    </div>
    
    <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />

    <p class="govuk-body"><a href="upload-measure.html">Upload another measure file</a></p>
    <p class="govuk-body"><a href="../home">Return to homepage</a></p>
  </div>
</div>

{% endblock %}
