{% extends "layouts/main.html" %}

{% block pageTitle %}
  Password creation completed
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Password creation completed
      </h1>
    </div>

    <p>You have successfully created a password for your new account.</p>
    
    <p>You can begin usin new account to upload a measure, view any existing measures and any errors that may have occured.</p>

    <p class="govuk-body"><a href="sign-in-nu">Sign-in to your account</a></p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Need help getting started?</h2>
    <p>You can get familiar with how the service works by visiting the <a href="/v01/">guidance pages</a>.</p>
  </div>
</div>

{% endblock %}
