{% extends "layouts/internal-main2-4.html" %}

{% block pageTitle %}
    Announcements
{% endblock %}

{% block content %}

<style>
    .nav-container {
        margin-top: -25px;
    }
</style>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

            <div style="display: flex; justify-content: space-between; align-items: center;">
                <h1 class="govuk-heading-xl">All announcements</h1>
                <a class="govuk-link govuk-body" href="index-non-digital" style="align-self: center;">Click here for non-digital users</a>
            </div>

            <a type="submit" class="govuk-button nav-container" href="create-announcement" data-module="govuk-button">
                Create announcements
            </a>

                <!--<div style="display: flex; justify-content: space-between;">
                    <p class="govuk-body">
                        All announcements |
                        <a class="govuk-link" href="internal-announcements">Internal announcements</a>
                        |
                        <a class="govuk-link" href="external-announcements">External announcements</a>
                    </p>
                </div>-->

                <table class="govuk-table">
                  
                    <caption class="govuk-table__caption govuk-table__caption--m">Existing announcements</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Announcement text</th>
                             <th scope="col" class="govuk-table__header small-column">Audience</th> 
                            <th scope="col" class="govuk-table__header small-column">Start date</th>
                            <th scope="col" class="govuk-table__header small-column">End date</th>
                            <th scope="col" class="govuk-table__header medium-column">Action</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">ECO4.24.01 Planned Release</p>
                                <p class="govuk-body bold">Please be aware that this release has been cancelled due to an issue with one of our release tools we use to ensure that our changes do not impact the reliability and resilience of the register. Changes outlined below for this release will be rolled into our January release unless stated otherwise. Apologies for any inconveniences.</p>
                                <p class="govuk-body bold">The ECO Register will be offline on
                                    <strong>Tuesday 16th January 2024 from 17:00 to 19:00 due to a planned release.</strong>
                                </p>
                                <p class="govuk-body bold">Functionality being deployed is as follows:</p>
                                <p class="govuk-body">You can buy:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Late Automatic Late Rules and Report Update</li>
                                    <li>T4110: Observed Value will be Project Status name instead of numeric status ID</li>
                                    <li>ECO3 interim Completed Measure Transfers</li>
                                    <li>Innovation Measure Numbers 022 and 023</li>
                                    <li>Removal of "Town" field checks with TrustMark</li>
                                    <li>"Social Housing" Tenure Type applicable for "in-fill" elegibility type projects (P40517, P40518, P40519)</li>
                                    <li>Update to the Partial Project Score matrix to published version 5</li>
                                </ul>
                                <p class="govuk-body">Live issue fixes being deployed are:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>Clear Partial Project Scores associated with Exemption Measures</li>
                                    <li>TP0005 will now be case insensitive</li>
                                    <li>Fixed an issue where large measure uploads with MRNs of 11-characters were occasionally timing out</li>
                                    <li>We have also added some background processing to reduce the build up of measures getting stuck in "Measure Awaiting Verification" status</li>
                                </ul>
                            </th>
                             <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Server restart planned</p>
                                <p class="govuk-body">From 12:15 to 13:30 (Wednesday 27th April) you will not be able to make amendments/renotification while we restart our servers.</p>
                            </th>
                             <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
    
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 1</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                             <td class="govuk-table__cell small-column">External</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 2</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                             <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 3</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                             <td class="govuk-table__cell small-column">External</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 4</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                            <td class="govuk-table__cell small-column">External</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 5</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                            <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 6</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                            <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 7</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                            <td class="govuk-table__cell small-column">Internal</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header">
                                <p class="govuk-body announcement-header">Announcement title 8</p>
                                <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </th>
                            <td class="govuk-table__cell small-column">External</td> 
                            <td class="govuk-table__cell small-column">12/10/2023</td>
                            <td class="govuk-table__cell small-column">22/10/2023</td>
                            <td class="govuk-table__cell medium-column">
                                <!--<a class="govuk-link" href="edit-announcement">Edit</a>
                                |-->
                                <a class="govuk-link" href="delete-announcement">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <nav class="govuk-pagination" aria-label="Pagination">
                    <div class="govuk-pagination__prev">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                            <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                                <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            <span class="govuk-pagination__link-title">
                                Previous<span class="govuk-visually-hidden">
                                    page</span>
                            </span>
                        </a>
                    </div>
                    <ul class="govuk-pagination__list">
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1">
                                1
                            </a>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                            &ctdot;
                        </li>
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 6">
                                6
                            </a>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--current">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7" aria-current="page">
                                7
                            </a>
                        </li>
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 8">
                                8
                            </a>
                        </li>
                        <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                            &ctdot;
                        </li>
                        <li class="govuk-pagination__item">
                            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 42">
                                42
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-pagination__next">
                        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                            <span class="govuk-pagination__link-title">
                                Next<span class="govuk-visually-hidden">
                                    page</span>
                            </span>
                            <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
                                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </a>
                    </div>
                </nav>

                <!-- Internal announcements -->
                <!-- <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                    <div class="card govuk-!-padding-5">
                        <h3 class="govuk-heading-m">
                            <a class="govuk-link" href="internal-announcements">Internal announcements</a>
                        </h3>
                        <p class="govuk-body card-description short">View current and previous internal announcements.</p>
                    </div>
                </div> -->

                <!-- External announcements -->
                <!-- <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                    <div class="card govuk-!-padding-5">
                        <h3 class="govuk-heading-m">
                            <a class="govuk-link" href="external-announcements">External announcements</a>
                        </h3>
                        <p class="govuk-body card-description short">View current and previous external announcements.</p>
                    </div>
                </div> -->

                <!-- Create announcements -->
                <!-- <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                    <div class="card govuk-!-padding-5">
                        <h3 class="govuk-heading-m">
                            <a class="govuk-link" href="create-announcement">Create announcements</a>
                        </h3>
                        <p class="govuk-body card-description short">Create a new external or internal announcement.</p>
                    </div>
                </div> -->
            <!-- </div> -->

            <!-- <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible"/> -->

            <br>
            <p class="govuk-body">
                <a href="/internal/v02-7/">Return to homepage</a>
            </p>

        </div>
    </div>
{% endblock %}