{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
  Great British Insulation Scheme &mdash; Internal user management
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">Ofgem ECO Register for internal users</h1>
    
    <p>Welcome <span id="welcomeUsernameMessage"></span></p>
    <p>From here, you can:</p>
    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>manage access to the service for external users</li>
      <li>manage access to the service for internal users</li>
      <li>manage accounts</li>
    </ul>
  </div>
</div>

{% endblock %}
