{% extends "layouts/v07-external-custom-main.html" %}

{% block pageTitle %}
    {{serviceName}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <h1 class="govuk-heading-xl">{{serviceName}}</h1>

        <ul class="govuk-list">
            <li><a class="govuk-link" href="signed-in-no-ofgem-view"><strong>Ext portal - GBIS logged out</strong></a> > screen user arrives on from One Login when they do not have a GBIS account</li>
            <li><a class="govuk-link" href="signed-out-view"><strong>Ext portal - signed out</strong></a> > screen user sees when they sign out of GBIS portal</li>
        </ul>
    </div>
</div>

{% endblock %}
