{% extends "layouts/v03-external-custom-main.html" %}

{% block pageTitle %}
    Sorry, there is a a problem with the service
{% endblock %}

{% block content %}

<p id="headerUsername" class="username-style"></p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Sorry, this service is unavailable</h1>
        <p class="govuk-body">You cannot access the Great British Insulation Scheme (GBIS) as you're not signed into an account with Ofgem.</p>
        <p class="govuk-body">You are currently only signed in with your One Login account.</p>

        <h2 class="govuk-heading-m">Accessing and using the Great British Insulation Scheme</h2>
        <p class="govuk-body">To get access to and use the Great British Insulation Scheme, you need to request an account from Ofgem.</p>
        <p class="govuk-body">To request an account, you should send an email to Ofgem at <a href="mailto:gbis.enquiry@ofgem.gov.uk">gbis.enquiry@ofgem.gov.uk</a>.</p>
        <p class="govuk-body">You should send this email to Ofgem from the same email address you used to create your GOV UK One Login account. This is the only way we can match your Great British Insulation Scheme account to your GOV UK One Login account.</p>
        <p class="govuk-body">After you've sent this email with the request, the Ofgem team will be in touch about creating an account for you.</p>
        <button class="govuk-button" data-module="govuk-button">
            Back to GOV UK One Login
        </button>
    </div>
</div>

{% endblock %}
