{% extends "layouts/v03-external-custom-main.html" %}

{% block pageTitle %}
    Sorry, there is a a problem with the service
{% endblock %}

{% block content %}

<p id="headerUsername" class="username-style"></p>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">Sorry, there is a a problem with the service</h1>

        <p class="govuk-body">You are currently signed in with your One Login account but do not have a registered account with Ofgem.</p>
        <p class="govuk-body">In order to use the {{serviceName}} service, you will need to <a class="govuk-link" href="#">request access from Ofgem</a>.</p>
    </div>
</div>

{% endblock %}
