{% extends "layouts/v03-external-custom-main.html" %}

{% block pageTitle %}
    Signed out
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl">You have signed out</h1>

        <p class="govuk-body">You are now signed out of the {{serviceName}}.</p>
        <p class="govuk-body">You can return to <a href="#">GOV UK One Login</a> or sign back into the portal.</p>

        <button class="govuk-button" data-module="govuk-button">
            Sign in
        </button>
    </div>
</div>

{% endblock %}
