{% extends "layouts/internal-main2-0.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Summary</h1>

        <p class="govuk-body">Blurb reharding a summary of the automatic processing of stage 3 measures.</p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <table class="govuk-table">
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Detail</th>
                            <th scope="col" class="govuk-table__header">Information</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Report generated</th>
                            <td class="govuk-table__cell">7 3 2024</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Number of measures in validation</th>
                            <td class="govuk-table__cell">1000</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Number of suppliers</th>
                            <td class="govuk-table__cell">4</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <!-- Recommended status -->
            <div class="govuk-grid-column-full">
                <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--m">Recommended status</caption>

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Supplier name</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recommended for approval</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recommended with supplier</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recommended for internal query</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recommended for on hold</th>
                            <th scope="col" class="govuk-table__header govuk-table__header--numeric">Total</th>
                        </tr>
                    </thead>

                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">BGT</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">250</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">OVO</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">250</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">EDF</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">250</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">EON</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">125</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">250</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Percentage</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>50%</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>50%</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>100%</strong></td>
                        </tr>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Total</th>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>500</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>500</strong></td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric">-</td>
                            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>1000</strong></td>
                        </tr> 
                    </tbody>
                </table>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-three-quarters">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-half">
                                <a class="govuk-button govuk-button--secondary margin-top-30" href="upload-error-bu">
                                    Upload recommendations
                                </a>
                            </div>
                            <div class="govuk-grid-column-one-half">
                                <button type="submit" class="govuk-button govuk-button--secondary margin-top-30" data-module="govuk-button">
                                    Export summary
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
                <p class="govuk-body"><a href="/internal/v02-0/">Return to homepage</a></p>
            </div>
        </div>
    </div>
    
    <script>
       
    </script>
</div>
{% endblock %}