{% extends "layouts/internal-main2-0.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Summary</h1>

        
        <div class="govuk-inset-text">
            Stage 3 process has not been inititated and is not active. This may have been reverted or closed.
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds"></div>

            <!-- Recommended status -->
            <div class="govuk-grid-column-full">
                <p class="govuk-body"><a href="/internal/v02-0/">Return to homepage</a></p>
            </div>
        </div>
    </div>
    
    <script>
       
    </script>
</div>
{% endblock %}