{% extends "layouts/main.html" %}

{% block pageTitle %}
    Search measure
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Searching the measure register</h1>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">You can search and view the measures you've previously uploaded to the Great British Insulation Scheme portal.</p>

                <h2 class="govuk-heading-m">Different ways to search for measures</h2>

                <p class="gov-body">You can search for measures in two ways:</p>
                
                <ul class="govuk-list govuk-list--number indent40">
                    <li>Using a single measure reference number.</li>
                    <li>Uploading a file with multiple measure reference numbers.</li>
                </ul>

                <p class="govuk-body"><strong>Single measure reference numbers</strong></p>

                <P class="govuk-body">You can search for individual measures using a single measure reference number.</P>
                <P class="govuk-body">To do so:</P>
                    
                <ul class="govuk-list govuk-list--number indent40">
                    <li>Find the measure reference number from the original project notification file you uploaded.</li>
                    <li>Copy the measure reference number.</li>
                    <li>Add it to the measure reference number field on the next page.</li>
                    <li>Select the "Search" button.</li>
                </ul>

                <p class="govuk-body"><strong>Multiple measure reference numbers in a file</strong></p>
                
                <p class="gov-body">To search for measures using a measure reference number file, you should:</p>
                    
                <ul class="govuk-list govuk-list--number indent40">
                    <li>Create a CSV file in Microsoft Excel.</li>
                    <li>Include a single column with only the measure reference numbers you want to search for.</li>
                    <li>Save the CSV file.</li>
                    <li>Go to the search page in the Great British Insulation Scheme.</li>
                    <li>Select "Choose file" and select the CSV file you created.</li>
                    <li>Select "Upload measure reference file" .</li>
                    <li>Select the "Search" button.</li>
                </ul>

                <!-- Start -->
                <a href="./search-filters" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start
                    <!-- <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                    </svg> -->
                </a>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}