{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Announcements
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Create an announcement</h1>
        
        <div>
            <p class="govuk-body">
                <a class="govuk-link" href="internal-announcements">Internal announcements</a> | <a class="govuk-link" href="external-announcements">External announcements</a> | Create announcements
            </p>
        </div>
                
        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
   
        <p class="govuk-body"><a href="/internal/v02-3/">Return to homepage</a></p>
        
    </div>
</div>
{% endblock %} 