{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
    Measures
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">
            Measures
        </h1>

        <p class="govuk-body">View previously uploaded measures, download status reports and view late extensions.</p>

        <div class="govuk-grid-row">

            <!-- Upload measures -->
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                <div class="card govuk-!-padding-5">
                    <h3 class="govuk-heading-m"><a href="measures/upload-measure" class="govuk-link">Upload measures</a></h3>
                    <p class="govuk-body">click here to upload a measure.</p>
                </div>
            </div>
            
            <!-- Search measures -->
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                <div class="card govuk-!-padding-5">
                    <h3 class="govuk-heading-m"><a id="setPathOfV05Point4" href="measures/search-measures/" class="govuk-link">Search measures</a></h3>
                    <p class="govuk-body">Search all measures by the Measure reference number or by the status.</p>
                </div>
            </div>
            
            <!-- Automatic late extension report -->
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                <div class="card govuk-!-padding-5">
                    <h3 class="govuk-heading-m"><a id="setPathOfV05Point4" href="measures/automatic-late-extension-report/" class="govuk-link">Automatic late extension report</a></h3>
                    <p class="govuk-body">Search and view energy supplier automatic late extension reports.</p>
                </div>
            </div>
        </div>
        
        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
        
        <p class="govuk-body"><a href="/v09/home">Return to homepage</a></p>

        <!-- <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />

        <h3 class="govuk-heading-l">Get help</h3>
        <p><a href="#" target="_blank">How to upload a measure (opens in a new tab)</a></p>
        <p><a href="#" target="_blank">What you will need to upload a Measure (opens in a new tab)</a></p> -->
    </div>
</div>

{% endblock %}
