{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Manual error deleted
            </h1>
        </div>
        
        <p class="govuk-body"><a  class="govuk-button govuk-button--secondary" href="upload-manual-errors.html">Return to manual error</a></p>

        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
        <p class="govuk-body"><a href="/internal/v02-4/">Return to homepage</a></p>
    </div>
</div>
{% endblock %}