{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Stage 3 measure validation reverting</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <!-- <p class="govuk-body">Blurb reharding reverting stage 3 validation.</p> -->

                <!-- Notification banner -->
                <div class="govuk-notification-banner govuk-notification-banner--important" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            In progress
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            Stage 3 measure validations are being reverted. This can take up to 60 minutes. 
                            <br />
                            <br />
                            Once validation reverting has started, it cannot be stopped until it has finished. 
                            <br />
                            <br />
                            After the reverting has finished, view the summary page to check the results. 
                        </h3>
                    </div>
                </div>
                <a class="govuk-button govuk-button--secondary" href="summary-empty">View stage 3 measure validation summary</a>

                <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
                <p class="govuk-body"><a href="/internal/v02-4/">Return to homepage</a></p>
            </div>
        </div>
    </div>
    
    <script>
       
    </script>
</div>
{% endblock %}