{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Start stage 3 measure validation</h1>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">

                <!-- <p class="govuk-body">Blurb reharding triggering stage 3 rules.</p> -->

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        There are currently no measures ready to start the stage 3 measure validation process.
                    </strong>
                </div>
                <!-- <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <a href="reverted-process" class="govuk-button govuk-button--secondary" >
                            Revert validation
                        </a>
                    </div>
                </div> -->

                <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
                <p class="govuk-body"><a href="/internal/v02-4/">Return to homepage</a></p>
            </div>
        </div>
    </div>
    
    <script>
        function  gotoURL() {
            window.location.pathname = "summary-automatic";
        }
    </script>
</div>
{% endblock %}