{% extends "layouts/main.html" %}

{% block pageTitle %}
File upload successful
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        File upload successful
      </h1>
    </div>

    <p class="govuk-body">Of the 1 complete measures notified in your upload:</p>
    
    <ul class="govuk-list govuk-list--bullet">
      <li>0 did not succeed and have failed core notification checks and will not be uploaded into the register.</li>
      <li>You will also be notified of any errors via email.</li>
    </ul>

    <p class="govuk-body">1 succeeded initial core checks these will now go through the additional validation checks and upload onto the register.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body"><a href="upload-measure">Upload another Measure</a></p>
    <p class="govuk-body"><a href="../home-su">Return to homepage</a></p>
  </div>
</div>

{% endblock %}
