{% extends "layouts/v09-external-custom-main.html" %}

{% block pageTitle %}
    Errors
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Existing error reports</h1>

        <p class="govuk-body">All existing error reports are listed here by what stage they're at in the process of validation.</p>

        <p class="govuk-body">The list of error reports <strong>includes all reports generated</strong> as a result of you uploading a notification template. The most recent reports are shown first.</p>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                <!-- If there are more than 15,000 errors in a single report, then the list of errors will be truncated to 15,000. You will need to first fix the existing errors and resubmit the measures again. -->
                Error reports can contain up to 15,000 errors. Where reports have this many errors, it shows there is possibly an issue with the data uploaded originally. You should review the measure notification file uploaded originally and ensure the data is accurate. If the problem persists, email Ofgem at <a href="mailto:GBIS.enquiry@ofgem.gov.uk" class="govuk-link">GBIS.enquiry@ofgem.gov.uk</a>.
            </strong>
        </div>

        <p class="govuk-body">You should download any relevant error report then follow the next steps.</p>

        
        <h2 id="errorcontents" class="govuk-heading-l">Contents</h2>
        <ul class="govuk-list">
            <li>
                <span class="govuk-body">&mdash; <a class="govuk-link" href="#stage1">Stage 1</a></span>
            </li>
            <li>
                <span class="govuk-body">&mdash; <a class="govuk-link" href="#stage2">Stage 2</a></span>
            </li>
            <li>
                <span class="govuk-body">&mdash; <a class="govuk-link" href="#trustmark">TrustMark</a></span>
            </li>
            <li>
                <span class="govuk-body">&mdash; <a class="govuk-link" href="#stage3">Stage 3</a></span>
            </li>
        </ul>


        <!-- <h3 id="stage1" class="govuk-heading-m">Stage 1 error reports</h3> -->
        <div class="scrollable">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Stage 1 error reports</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class date">Date</th>
                    <th scope="col" class="govuk-table__header app-custom-class time">Time</th>
                    <th scope="col" class="govuk-table__header app-custom-class filename">File name</th>
                    <th scope="col" class="govuk-table__header app-custom-class action left-align">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/12/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">09/12/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">08/12/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">03/12/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">02/12/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">01/12/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">29/11/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">28/11/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">19/11/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">15/11/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">14/11/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <!-- <tr class="sr-only-text">
                        <td>Stage 1 error reports end</td>
                    </tr> -->
                </tbody>
            </table>

            <div class="sr-only">Stage 1 error reports end</div>

            <p class="govuk-body back-to-top"><a class="govuk-link" href="#errorcontents">Back to error contents</a> &#129033;</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        
        <!-- <h3 id="stage2" class="govuk-heading-m">Stage 2 error reports</h3> -->
        <div class="scrollable">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Stage 2 error reports</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class date">Date</th>
                    <th scope="col" class="govuk-table__header app-custom-class time">Time</th>
                    <th scope="col" class="govuk-table__header app-custom-class filename">File name</th>
                    <th scope="col" class="govuk-table__header app-custom-class action left-align">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/12/2023</th>
                        <td class="govuk-table__cell time">3:08pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">09/12/2023</th>
                        <td class="govuk-table__cell time">9:45am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">08/12/2023</th>
                        <td class="govuk-table__cell time">2:19pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">03/12/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">02/12/2023</th>
                        <td class="govuk-table__cell time">4:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">30/11/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/11/2023</th>
                        <td class="govuk-table__cell time">5:26am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">21/11/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">19/11/2023</th>
                        <td class="govuk-table__cell time">6:40am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">13/10/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">29/09/2023</th>
                        <td class="govuk-table__cell time">11:17am</th>
                        <td class="govuk-table__cell filename">BGT-26042024-17021-FB-133585151428718745.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <!-- <tr class="sr-only-text">
                        <td>Stage 2 error reports end</td>
                    </tr> -->
                </tbody>
            </table>

            <div class="sr-only">Stage 2 error reports end</div>

            <p class="govuk-body back-to-top"><a class="govuk-link" href="#errorcontents">Back to error contents</a> &#129033;</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>


        <!-- <h3 id="trustmark" class="govuk-heading-m">TrustMark error reports</h3> -->
        <div class="scrollable">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">TrustMark error reports</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class date">Date</th>
                    <th scope="col" class="govuk-table__header app-custom-class time">Time</th>
                    <th scope="col" class="govuk-table__header app-custom-class filename">File name</th>
                    <th scope="col" class="govuk-table__header app-custom-class action left-align">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/03/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">TrustMark-ErrorReport - 26042024.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <!-- <tr class="sr-only-text">
                        <td>TrustMark error reports end</td>
                    </tr> -->
                </tbody>
            </table>

            <div class="sr-only">TrustMark error reports end</div>
            
            <p class="govuk-body back-to-top"><a class="govuk-link" href="#errorcontents">Back to error contents</a> &#129033;</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        
        <!-- <h3 id="stage3" class="govuk-heading-m">Stage 3 error reports</h3> -->
        <div class="scrollable">
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Stage 3 error reports</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header app-custom-class date">Date</th>
                    <th scope="col" class="govuk-table__header app-custom-class time">Time</th>
                    <th scope="col" class="govuk-table__header app-custom-class filename">File name</th>
                    <th scope="col" class="govuk-table__header app-custom-class action left-align">Action</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/03/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/02/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/03/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/02/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/03/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/02/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/02/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">12/03/2023</th>
                        <td class="govuk-table__cell time">2:35pm</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__cell date">23/02/2023</th>
                        <td class="govuk-table__cell time">9:29am</th>
                        <td class="govuk-table__cell filename">gbis-measure-stage-3-errors.csv</td>
                        <td class="govuk-table__cell action"><a href="#">Download error report</a></td>
                    </tr>
                    <!-- <tr class="sr-only-text">
                        <td>Stage 3 error reports end</td>
                    </tr> -->
                </tbody>
            </table>

            <div class="sr-only">Stage 3 error reports end</div>
            
            <p class="govuk-body back-to-top"><a class="govuk-link" href="#errorcontents">Back to error contents</a> &#129033;</p>
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>

        <p class="govuk-body"><a href="/v12-2/home">Return to homepage</a></p>
    </div>

    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Next steps</h2>

        <!-- 1. Download error report -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="step-header">
                    <span class="step-number">
                        <span class="number"><span class="sr-only-text">Step </span>1</span>
                    </span>
                    <span class="step-title">Download error report</span>
                </div>
            </div>
            <div class="govuk-grid-column-full">
                <div class="step-description">
                    <span class="step-description-spacer">&nbsp;</span>
                    <span class="step-description">Download the error report.</span>
                </div>
            </div>
        </div>

        <!-- 2. Fix outstanding measures with errors -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="step-header">
                    <span class="step-number">
                        <span class="number"><span class="sr-only-text">Step </span>2</span>
                    </span>
                    <span class="step-title">Fix outstanding measures with errors</span>
                </div>
            </div>
            <div class="govuk-grid-column-full">
                <div class="step-description">
                    <span class="step-description-spacer">&nbsp;</span>
                    <span class="step-description">The measures with errors and how you fix them are detailed in the error report. Follow the instructions to fix the measures with errors.</span>
                </div>
            </div>
        </div>

        <!-- 3. Reupload measures that failed the checks in new CSV notification file -->
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="step-header">
                    <span class="step-number">
                        <span class="number"><span class="sr-only-text">Step </span>3</span>
                    </span>
                    <span class="step-title">Reupload measures that failed the checks in new CSV notification file</span>
                </div>
            </div>
            <div class="govuk-grid-column-full">
                <div class="step-description">
                    <span class="step-description-spacer">&nbsp;</span>
                    <span class="step-description">
                        <span>
                            After fixing the measures with errors, you should save the document as a new CSV notification file.
                            <br /><br />
                            Then, you should return to the <a href="/v12-2/measures/upload-measure">Upload measures page</a> and upload the new CSV notification file.
                        </span>
                    </span>
                </div>
            </div>
        </div>

        <!-- <hr  class="govuk-section-break govuk-section-break--xl govuk-section-break--visible" /> -->

    </div>
</div>

{% endblock %}
