{% extends "layouts/main.html" %}

{% block pageTitle %}
    Create a password for your {{serviceName}} account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Create password for you {{serviceName}} account
    </h1>

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          jean.gray@energysupplier.com has been activated
        </h3>
        <p class="govuk-body">You need to create the password for your new account in order to begin using the service.</a> if you think there’s a problem.</p>
      </div>
    </div>

    <p>In order to meet Ofgem's security standards, your password must comply with the following:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>set a minimum length of at least 8 characters</li>
        <li>use a combination of uppercase letters, lowercase letters, numbers, and or symbols</li>
        <li>do not use a word that can be found in the dictionary or the name of a person, character, product, or organisation</li>
        <li>etc.</li>
    </ul>

    <form action="password-account-confirmation" method="post" novalidate>
      <!-- Password -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="password">
          Password
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="password" name="password" type="password">
      </div>

      
      <!-- Repeat password -->
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="repeat-password">
          Repeat password
        </label>
        <input class="govuk-input govuk-!-width-three-quarters" id="repeat-password" name="repeat-password" type="password">
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Set password
        </button>
      </div>
    </form>
    
    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body"><a href="sign-in">Already have an account?</a></p>

  </div>
</div>

{% endblock %}
