{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove a user
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Remove a user
    </h1>

    <p class="govuk-body">As a authorised account holder, you can create accounts for other members of your organisation.</p>

    <p class="govuk-body">Complete the form below once you have receive a request for an account from your colleagues. They will have limited access areas of this service. They will opnly be able to uplaod Measures, view existing Measures and view errors in existing Measures.</p>
    
  </div>
</div>

{% endblock %}
