{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Create a new account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Create a new account
          </h1>
        </legend>

        <!-- accountName -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="accountName">
            Supplier name
          </label>
          <input class="govuk-input govuk-!-width-full" id="accountName" name="accountName" type="text" autocomplete="accountName">
        </div>
        
        
        <!-- Licence number number-->
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Supplier number
          </label>
          <input class="govuk-input govuk-!-width-full" id="email-address" name="email-address" type="text" autocomplete="email-address" value="admin@bgt.com">
          <span>Remove</span>
        </div>

        <a>Add another supplier account</a>

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="check-your-answers">
                Create
            </a>
            <a class="govuk-link" href="./">Cancel</a>
          </div>

    </fieldset>

  </div>
</div>

{% endblock %}
