{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Create a new account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Create a new supplier account
          </h1>
        </legend>

        <!-- supplierName -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="supplierName">
            Supplier name
          </label>
          <input class="govuk-input govuk-!-width-full" id="supplierName" name="supplierName" type="text" autocomplete="supplierName">
        </div>
        
        
        <!-- Licence number number-->
        <div class="govuk-form-group">
          <label class="govuk-label" for="supplierNumber">
            Supplier number
          </label>
          <input class="govuk-input govuk-!-width-full" id="supplierNumber" name="supplierNumber" type="text" autocomplete="supplierNumber" value="BGT">
          <span>Remove this supplier number</span>
        </div>

        <a class="govuk-link">Add another supplier account</a>

        <div class="govuk-button-group">
            <a class="govuk-button" data-module="govuk-button" href="check-your-answers">
                Create
            </a>
            <a class="govuk-link" href="./">Cancel</a>
          </div>

    </fieldset>

  </div>
</div>

{% endblock %}
