{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Create a new account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Create a new supplier account
          </h1>
        </legend>

        <!-- supplier name -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="supplierName">
            Supplier name
          </label>
          <input class="govuk-input govuk-!-width-full" id="supplierName" name="supplierName" type="text" autocomplete="supplierName">
        </div>

        <!-- Licence number number-->
        <div class="govuk-form-group">
          <label class="govuk-label" for="supplierLicenceNumber">
            Supplier licence number
          </label>
          <input class="govuk-input govuk-!-width-full" id="supplierLicenceNumber" name="supplierLicenceNumber" type="text" autocomplete="supplierLicenceNumber">
        </div>

        <div id="additionalLicenceNumbers" class="additional-licence-numbers"></div>
        
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addAnotherSupplierLicence()">
          Add another supplier licence number
        </button>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="check-your-answers">
              Create
          </a>
          <a class="govuk-link" href="./">Cancel</a>
        </div>

    </fieldset>

  </div>
</div>

{% endblock %}
