{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Edit account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Edit account
          </h1>
        </legend>

        <!-- accountName -->
          <!-- Change to supplier account -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="accountName">
            Supplier name
          </label>
          <input class="govuk-input govuk-!-width-full" id="accountName" name="accountName" type="text" autocomplete="accountName" value="BGT">
        </div>
        
        <!-- Licence number number-->
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Supplier number
          </label>
          <input class="govuk-input govuk-!-width-full" id="email-address" name="email-address" type="text" autocomplete="email-address" value="admin@bgt.com">
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="check-your-updated-answers">
              Update
          </a>
          <a class="govuk-link" href="view-account-details">Cancel</a>
        </div>

    </fieldset>

  </div>
</div>

{% endblock %}
