{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Edit account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Edit supplier account
          </h1>
        </legend>

        <!-- supplier name -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="supplierName">
            Supplier name
          </label>
          <input class="govuk-input govuk-!-width-full" id="supplierName" name="supplierName" type="text" autocomplete="supplierName" value="NPW">
        </div>

        <!-- Licence number number -->
        <div class="govuk-grid-row">
          <div class="govuk-form-group">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="supplierLicenceNumber">
                Supplier licence number
              </label>
              <input class="govuk-input govuk-!-width-full" id="supplierLicenceNumber" name="supplierLicenceNumber" type="text" autocomplete="supplierLicenceNumber" value="03653277">
            </div>
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="licence-id">
                Supplier licence reference
              </label>
              <select class="govuk-select govuk-!-width-full" id="licence-id" name="licence-id">
                <option value="" disabled hidden>Select a licence reference</option>
                <option value="NPW03782443G">NPW03782443G</option>
                <option value="NPW02999919G" selected>NPW02999919G</option>
              </select>
            </div>
          </div>
        </div>
                    
        <div class="licence-number-container" id="licenceNumber001">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="supplierLicenceNumber001">
                Supplier licence number
              </label>
              <input class="govuk-input govuk-!-width-full" id="supplierLicenceNumber001" name="supplierLicenceNumber001" type="text" autocomplete="supplierLicenceNumber001" value="02845740">
            </div>
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="licence-id">
                Supplier licence reference
              </label>
              <select class="govuk-select govuk-!-width-one-full remove-button-supplement" id="licence-id" name="licence-id">
                <option value="" disabled hidden>Select a licence reference</option>
                <option value="NPW03782443G" selected>NPW03782443G</option>
                <option value="NPW02999919G">NPW02999919G</option>
              </select>
              <button class="govuk-button govuk-button--secondary remove-button" id="001" data-module="govuk-button" onclick="removeSupplierLicenceNumber('001')">X</button>
            </div>
          </div>
        </div>
          
        <div id="additionalLicenceNumbers" class="additional-licence-numbers"></div>
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="addAnotherSupplierLicence()">
          Add another supplier licence number
        </button>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="check-your-updated-answers">
              Update account
          </a>
          <a class="govuk-link" href="view-account-details">Cancel</a>
        </div>

    </fieldset>

  </div>
</div>

{% endblock %}
