{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Edit account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            Edit account
          </h1>
        </legend>

        <!-- accountName -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="accountName">
            Account name
          </label>
          <input class="govuk-input govuk-!-width-full" id="accountName" name="accountName" type="text" autocomplete="accountName" value="BGT">
        </div>

        <!-- Address line 1 -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="addressLine1">
            Address line 1
          </label>
          <input class="govuk-input govuk-!-width-full" id="addressLine1" name="addressLine1" type="text" autocomplete="addressLine1" value="123 Any Lane">
        </div>

        <!-- Address line 2 -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="addressLine2">
            Address line 2
          </label>
          <input class="govuk-input govuk-!-width-full" id="addressLine2" name="addressLine2" type="text" autocomplete="addressLine2" value="Rookery">
        </div>

        <!-- Address line 3 -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="addressLine3">
            Address line 3
          </label>
          <input class="govuk-input govuk-!-width-full" id="addressLine3" name="addressLine3" type="text" autocomplete="addressLine3" value="">
        </div>

        <!-- Town -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="town">
            Town
          </label>
          <input class="govuk-input govuk-!-width-full" id="town" name="town" type="text" autocomplete="town" value="This Town">
        </div>

        <!-- County -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="county">
            County
          </label>
          <input class="govuk-input govuk-!-width-full" id="county" name="county" type="text" autocomplete="county" value="This County">
        </div>

        <!-- Postcode -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-!-width-full" id="postcode" name="postcode" type="text" autocomplete="postcode" value="PO5 COD">
        </div>

        <!-- Country -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="country">
            Country
          </label>
          <select class="govuk-select govuk-!-width-full" id="country" name="country">
            <option value="" disabled hidden>Select a country</option>
            <option value="Eengland">England</option>
            <option value="Scotland">Scotland</option>
            <option value="Wales" selected>Wales</option>
          </select>
        </div>

        <!-- Telephone number -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="telephoneNumber">
            Telephone number
          </label>
          <input class="govuk-input govuk-!-width-full" id="telephoneNumber" name="telephoneNumber" type="text" autocomplete="telephoneNumber" value="01700234567">
        </div>

        <!-- Fax number -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="faxNumber">
            Fax number
          </label>
          <input class="govuk-input govuk-!-width-full" id="faxNumber" name="faxNumber" type="text" autocomplete="faxNumber" value="01700234568">
        </div>

        <!-- Email address -->
        <div class="govuk-form-group">
          <label class="govuk-label" for="email-address">
            Email address
          </label>
          <input class="govuk-input govuk-!-width-full" id="email-address" name="email-address" type="text" autocomplete="email-address" value="admin@bgt.com">
        </div>

        <div class="govuk-button-group">
          <a class="govuk-button" data-module="govuk-button" href="check-your-updated-answers">
              Update
          </a>
          <a class="govuk-link" href="view-account-details">Cancel</a>
        </div>

    </fieldset>

  </div>
</div>

{% endblock %}
