{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <h1 class="govuk-heading-xl">Accounts</h1>

    <a class="govuk-link" href="create-new-account">Create a new account</a>
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <!-- Search -->
    <!--
    <div class="govuk-form-group">
      <label class="govuk-label" for="searchUsers">
          Search internal users
      </label>
      <div class="flex">
        <input placeholder="Search users..." name="searchUsers" type="text" class="govuk-input" value="" />
        <button type="submit" class="magnifying-glass">&#x1F50E;&#xFE0E;</button>
      </div>
    </div>
    -->

    <!-- Show list of existing internal users here -->
    <!-- <div id="accounts"></div> -->

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Existing external users</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Account name</th>
          <th scope="col" class="govuk-table__header">Address line 1</th>
          <th scope="col" class="govuk-table__header">Town</th>
          <th scope="col" class="govuk-table__header">Country</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" id="accountsList">
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
        <tr class="govuk-table__row" >
          <td class="govuk-table__cell">BGT</td>
          <td class="govuk-table__cell">123 Any Lane</td>
          <td class="govuk-table__cell">Wales</td>
          <td class="govuk-table__cell">
            <a  class="govuk-link" 
                href="view-account-details" 
                onclick="viewAccountDetails('BGT', '123 Any Lane', 'Rookery', 'This Town', 'That County', 'PO5 COD', 'Wales', '01700234567', '01700234560', 'admin@bgt.com')">
                View
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
