{% extends "layouts/internal-main.html" %}

{% block pageTitle %}
    Accounts
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

    <h1 class="govuk-heading-xl">Accounts</h1>

    <p class="govuk-body"><a class="govuk-link govuk-button" href="create-new-account">Add a new account</a></p>
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    
    <!-- Search -->
    
    <div class="govuk-form-group">
      <label class="govuk-label" for="searchAccounts">
          Search accounts
      </label>
      <div class="flex">
        <input placeholder="Search accounts..." name="searchAccounts" type="text" class="govuk-input" value="" />
        <button type="submit" class="magnifying-glass">&#x1F50E;&#xFE0E;</button>
      </div>
    </div>
   

    <!-- Show list of existing internal users here -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Existing external users</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Supplier name</th>
          <th scope="col" class="govuk-table__header">Supplier reference number</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body" id="accountsList"></tbody>
    </table>
  </div>
</div>

{% endblock %}
