{% extends "layouts/main.html" %}

{% block pageTitle %}
    Password reset confirmation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
            Password reset confirmation
        </h1>
    </div>

    <p>We have sent an password reset email to the email you have provided.</p>
    <div class="govuk-inset-text">
        Check your spam and junk folders in case you have not yet received the email.
    </div>
    <p>Follow the instructions in that email to reset yourt password.</p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <p class="govuk-body"><a href="sign-in">Go to the sign in page</a></p>

  </div>
</div>

{% endblock %}
