{% extends "layouts/v07-external-custom-main.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Searching the measure register</h1>

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">You can search and view the measures you've previously uploaded to the Great British Insulation Scheme portal.</p>

                <h2 class="govuk-heading-m">Different ways to search for measures</h2>

                <p class="gov-body">You can search for measures using:</p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>single measure reference numbers</li>
                    <li>a file containing multiple measure reference numbers</li>
                    <li>other filters</li>
                </ul>

                <p class="govuk-body"><strong>Single measure reference numbers</strong></p>
                <P class="govuk-body">To search for individual measures using a single reference number:</P>
                    
                <ul class="govuk-list govuk-list--number indent40">
                    <li>Find the measure reference number in the original project notification file you uploaded.</li>
                    <li>Copy the measure reference number you want to search for.</li>
                    <li>Add it to the measure reference number field on the next page.</li>
                    <li>Select the "Search" button.</li>
                </ul>

                <p class="govuk-body"><strong>A file containing multiple measure reference numbers</strong></p>
                
                <p class="gov-body">To search for measures using a measure reference number file, you should:</p>
                    
                <ul class="govuk-list govuk-list--number indent40">
                    <li>Create a CSV file in Microsoft Excel.</li>
                    <li>Include a single column with only the measure reference numbers you want to search for.</li>
                    <li>Save the CSV file.</li>
                    <li>Go to the search page in the Great British Insulation Scheme.</li>
                    <li>Select "Choose file" and select the CSV file you created.</li>
                    <li>Select "Upload measure reference file".</li>
                    <li>Select the "Search" button.</li>
                </ul>

                <p class="govuk-body"><strong>Using other filters to search for measures</strong></p>

                <p class="govuk-body">You can set other filters when searching for measures. These filters include the measure:</p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>status</li>
                    <li>type</li>
                    <li>submission date</li>
                    <li>notification period</li>
                </ul>

                <!-- See this page again? -->
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="hide-start-page-hint">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="hide-start-page" name="hide-start-page" type="checkbox" value="Hide page" onchange="hideStartPage()">
                                <label class="govuk-label govuk-checkboxes__label" for="hide-start-page">
                                    Do not show me this page again.
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <!-- Start -->
                <a href="./search-filters" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                    Start
                </a>
            </div>
        </div>
                
        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
        <p class="govuk-body"><a href="/v07/">Return to homepage</a></p>
    </div>
</div>
{% endblock %}