{% extends "layouts/main.html" %}

{% block pageTitle %}
  External users prototypes
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">External users prototypes</h1>

    
    <!-- #################### -->
    <!-- Public Beta -->
    <!-- #################### -->
    <h2 class="govuk-heading-l">Public Beta</h2>
    
    <!-- Active prototypes -->
    <h3 class="govuk-heading-m">Active prototypes</h3>
    
    <!-- GBIS end-to-end -->
    
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V12 &mdash; GBIS end-to-end prototypes for show-and-tell</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V12.1</th>
          <td class="govuk-table__cell">GBIS prototype; <strong>Contains V11 including: Latest GBIS guidance page linking to the PRE-PROD active site.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v12/">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V12.2</th>
          <td class="govuk-table__cell">GBIS prototype; <strong>Contains V11 including: Latest GBIS guidance page linking to an instance of the V11 active site.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v12-2/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V11 &mdash; GBIS end-to-end prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V11</th>
          <td class="govuk-table__cell">GBIS prototype; <strong>Contains V10 including: updated error report page following accessibility issue.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v11/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V10 &mdash; GBIS end-to-end prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V10</th>
          <td class="govuk-table__cell">GBIS end-to-end prototype; <strong>Ofgem branding, guidance pages, user's home page, upload screen, upload file with no core check errors, uploaded file with core check errors, error list page, search pages, including search results page.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v10/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V9 &mdash; GBIS end-to-end prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V09</th>
          <td class="govuk-table__cell">GBIS end-to-end prototype; <strong>Ofgem branding, guidance pages, user's home page, upload screen, upload file with no core check errors, uploaded file with core check errors, error list page, search pages, including search results page.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v09/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>


    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    <!-- ### -->
    
    
    <!-- #################### -->
    <!-- Private Beta -->
    <!-- #################### -->
    <h2 class="govuk-heading-l">Private Beta</h2>
    
    <!-- GBIS end-to-end -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V8 &mdash; GBIS end-to-end prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V08</th>
          <td class="govuk-table__cell">GBIS end-to-end prototype; <strong>Ofgem branding, guidance pages, user's home page, upload screen, upload file with no core check errors, uploaded file with core check errors, error list page, search pages, including search results page.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v08/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>
    
    <!-- GBIS consolidated -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V7 &mdash; GBIS consolidated prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V07</th>
          <td class="govuk-table__cell">GBIS consolidated pages; <strong>user's home page, upload screen, upload file with no core check errors, uploaded file with core check errors, error list page, search pages including search results page</strong>.</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v07/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>
    
    <!-- Measure details page -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V6 &mdash; Measure details prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V06.1</th>
          <td class="govuk-table__cell">Measures details page; <strong>Individual detail page for a measure</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v06-1/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>
    
    <!-- Search measures -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V5 &mdash; Search measure prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V05.1</th>
          <td class="govuk-table__cell">Search measures &mdash; <strong>Single page form</strong>; <strong>Results page</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v05-1/home">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V05.2</th>
          <td class="govuk-table__cell">Search measures &mdash; <strong>Step process form</strong>; <strong>Results page</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v05-2/home">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V05.3</th>
          <td class="govuk-table__cell">Search measures &mdash; <strong><strong>Same page form and results page</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v05-3/home">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V05.4</th>
          <td class="govuk-table__cell">Search measures &mdash; <strong>Search start page, consolidation of V05.1, V05.2 and V05.3 search designs with improved reults page.</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v05-4/home">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V05.5</th>
          <td class="govuk-table__cell">Search measures &mdash; <strong><strong>Search start page, consolidation of V05.1, V05.2 and V05.3 search designs with improved reults page.</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v05-5/home">Open prototype</a></td>
        </tr>
      </tbody>
    </table>
    
    <!-- Updates to Round 5 prototypes -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">V4 &mdash; Updates to Round 5 prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V04.1</th>
          <td class="govuk-table__cell">Updates to <strong>user's home page</strong>, <strong>upload screen</strong>, <strong>upload file with no core check errors</strong>, <strong>uploaded file with core check errors</strong> and the <strong>error list page</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v04-1/home">Open prototype</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V04.2</th>
          <td class="govuk-table__cell">Amendments to <strong>user's home page</strong>, <strong>upload screen</strong>, <strong>upload file with no core check errors</strong>, <strong>uploaded file with core check errors</strong> and the <strong>error list page</strong></td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v04-2/home">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    <!-- Front end -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Front end</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <!-- On-screen error message with single error -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.1</th>
          <td class="govuk-table__cell">Example of an error when a user uploads a file that does not match one of the upload criterias</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-1/">Open prototype</a></td>
        </tr>
        <!-- On-screen error messages with multiple errors -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.2</th>
          <td class="govuk-table__cell">Example of a series of errors when a user uploads a file that does not match multiple upload criterias</td>
          <td class="govuk-table__cell">All external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-2/">Open prototype</a></td>
        </tr>
        <!-- Phase banner -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.3</th>
          <td class="govuk-table__cell">Phase banner</td>
          <td class="govuk-table__cell">All users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-3/">Open prototype</a></td>
        </tr>
        <!-- Step-by-step component without the show and hide functions -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.4</th>
          <td class="govuk-table__cell"><strong>Step-by-step component</strong> without the show and hide functions</td>
          <td class="govuk-table__cell">All users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-4/">Open prototype</a></td>
        </tr>
        <!-- Signed out views -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.5</th>
          <td class="govuk-table__cell"><strong>Signed out views;</strong> sign out; Signed in with One Login but not registered with Ofgem; </td>
          <td class="govuk-table__cell">All users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-5/">Open prototype</a></td>
        </tr>
        <!-- Search page with no results found after searching -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">V03.6</th>
          <td class="govuk-table__cell"><strong>Search measure page;</strong> No results found after searching</td>
          <td class="govuk-table__cell">All users</td>
          <td class="govuk-table__cell"><a class="govuk-link" target="_blank" href="/v03-6/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>
   


    
    <!-- #################### -->
    <!-- Alpha -->
    <!-- #################### -->

    <h2 class="govuk-heading-l">Alpha</h2>
    <!-- Prototypes presented for the Alpha assessment -->
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Round 5 User Research prototypes - Prototypes presented for the Alpha assessment</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!-- Existing user - successful measure upload - with no core check errors -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">UR Round 5 &mdash; V02.1</th>
          <td class="govuk-table__cell">Focus is on the process of uploading a Measure sucessfully <strong>with no core check errors</strong>; file upload method in a <strong>single-step</strong> process</td>
          <td class="govuk-table__cell">All existing external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="superUser()" target="_blank" href="/v02-1/home">Open prototype</a></td>
        </tr>

        <!-- Existing user - unsuccessful measure upload - with core check errors-->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">UR Round 5 &mdash; V02.2</th>
          <td class="govuk-table__cell">Focus is on the process of uploading a Measure sucessfully <strong>with core check errors</strong>; file upload method in a <strong>two-step</strong> process </td>
          <td class="govuk-table__cell">All existing external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="superUser()" target="_blank" href="/v02-2/home">Open prototype</a></td>
        </tr>

        <!-- Existing user - navigating non-core (split report) errors-->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">UR Round 5 &mdash; V02.3</th>
          <td class="govuk-table__cell">Focus is on <strong>User's home page</strong>; <strong>navigating the error page</strong>; <strong>stage 2, TrustMark and stage 3 error files</strong></td>
          <td class="govuk-table__cell">All existing external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="superUser()" target="_blank" href="/v02-3/home">Open prototype</a></td>
        </tr>

        <!-- Existing user - navigating non-core (combined report) errors-->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">UR Round 5 &mdash; V02.4</th>
          <td class="govuk-table__cell">Focus is on <strong>User's home page</strong>; <strong>navigating the error page</strong>; <strong>stage 2, address, TrustMark and stage 3 error files</strong></td>
          <td class="govuk-table__cell">All existing external users</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="superUser()" target="_blank" href="/v02-4/home">Open prototype</a></td>
        </tr>
      </tbody>
    </table>

    
    <!-- Earlier prototypes -->
    <h3 class="govuk-heading-m">Earlier prototypes</h3>
    <p>These are earliest round of prototypes</p>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--s">Round 4 User Research prototypes</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Prototype</th>
          <th scope="col" class="govuk-table__header">Details</th>
          <th scope="col" class="govuk-table__header">User</th>
          <th scope="col" class="govuk-table__header">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <!-- First time super user sign in -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Initial build &mdash; V 01.1</th>
          <td class="govuk-table__cell">Accessing the service for the first time as a super user once account has been created &mdash; resetting password and authorise new accounts </td>
          <td class="govuk-table__cell">First time <strong>super user</strong> &mdash; sign in</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="superUser()" target="_blank" href="/v01/">Open prototype</a></td>
        </tr>

        <!-- First time regular user sign up -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Initial build &mdash; V 01.2</th>
          <td class="govuk-table__cell">Accessing the service for the first time as a normal user &mdash; setting your password and </td>
          <td class="govuk-table__cell">First time <strong>normal user</strong> &mdash; sign up</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="newNormalUser()" target="_blank" href="/v01/user-management/create-password">Open prototype</a></td>
        </tr>

        <!-- Existing regular user sign in -->
        <tr class="govuk-table__row">
          <th class="govuk-table__cell" scope="row">Initial build &mdash; V 01.3</th>
          <td class="govuk-table__cell">Accessing the service as an existing user</td>
          <td class="govuk-table__cell">Existing <strong>normal user</strong> &mdash; sign in</td>
          <td class="govuk-table__cell"><a class="govuk-link" onclick="existingNormalUser()" target="_blank" href="/v01/">Open prototype</a></td>
        </tr>
      </tbody>
    </table>


    <!-- Archived prototypes (Alpha) -->
    <!-- <h3 class="govuk-heading-m">Archived prototypes</h3> -->

  </div>
</div>

{% endblock %}
