{% extends "layouts/main.html" %}

{% block pageTitle %}
  Prototypes home – {{serviceName}}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">GBIS Prototypes</h1>

    <div class="govuk-grid-row">

      <!-- Internal -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
          <h3 class="govuk-heading-m"><a href="internal/" class="govuk-link" target="_blank">Internal users</a></h3>
          <p class="govuk-body">View prototypes related to the internal users</p>
        </div>
      </div>

      <!-- External -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
          <h3 class="govuk-heading-m"><a href="external.html" class="govuk-link" target="_blank">External users</a></h3>
          <p class="govuk-body">View prototypes related to external users.</p>
        </div>
      </div>

      <!-- Combined portal -->
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
        <div class="card govuk-!-padding-5">
          <!-- <h3 class="govuk-heading-m"><a href="combined-portal.html" class="govuk-link" target="_blank">Combined portal</a></h3> -->
          <h3 class="govuk-heading-m"><a href="#" class="govuk-link" target="_blank">Combined portal</a></h3>
          <p class="govuk-body">View the end-to-end prototypes related to the combined internal and external users' journey.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
