{% extends "layouts/internal-main2-3.html" %}

{% block pageTitle %}
    Manual error added
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Manual error added
            </h1>
        </div>

        
        
        <p class="govuk-body"><a  class="govuk-button govuk-button--secondary" href="upload-manual-errors.html">Return to manual error</a></p>

        <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
        <p class="govuk-body"><a href="/internal/v02-3/">Return to homepage</a></p>

        <!--         
        <p class="govuk-body">Some content here that Graham can help with.</p>
        <p class="govuk-body">Maybe include a what happens next.</p>
        <p class="govuk-body">Maybe signpost the user back to the list of the manual errors created.</p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

        <p class="govuk-body">
            <a class="govuk-link" href="upload-manual-errors.html">Back to manual errors list</a>
        </p> -->
        
    </div>
</div>

{% endblock %}