{% extends "layouts/main.html" %}

{% block pageTitle %}
    Search measure
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        
        <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a>

        <h1 class="govuk-heading-xl">Search measure register</h1>

        <p class="gov-body">You can search complete measures to check the:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>stage a measure is at in the validation process</li>
            <li>measure you uploaded is within the notification deadline</li>
            <li>errors linked to measures</li>
            <li>measures by different error types </li>
        </ul>

        <p class="gov-body">Select options to search for existing measures in the Great British Insulation Scheme register. You must select at least one option to search the measures.</p>

        <!-- Continue -->
        <div class="govuk-button-group">
            <a href="/v05-2/measures/search-measures/measure-reference-number" class="govuk-button" data-module="govuk-button">Continue</a>
        </div>
        
    </div>
</div>
{% endblock %}