{% extends "layouts/internal-main2-4.html" %}

{% block pageTitle %}
    Searching the measure register
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <!-- <a href="#" class="govuk-back-link" onclick="history.go(-1)">Back</a> -->

                <!-- Notification banner -->
                <div class="govuk-notification-banner govuk-notification-banner--information" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Important
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            The error file is currently being uploaded.
                            <!-- This can take up to 10 minutes. -->
                        </h3>
                    </div>
                </div>

        <h1 class="govuk-heading-xl">Recommendation file upload in progress</h1>

        <p class="govuk-body">Once the upload is complete, view the summary page to check the results.</p>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <p class="govuk-body"><a class="govuk-button govuk-button--secondary" href="summary-basic-user-manual">View stage 3 measure validation summary</a></p>

                <hr class="govuk-section-break govuk-sectio-break--l govuk-section-break--visible" />
           
                <p class="govuk-body"><a href="/internal/v02-5/">Return to homepage</a></p>
            </div>
        </div>
    </div>
    
    <script>
       
    </script>
</div>
{% endblock %}