{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <!-- Phase banner -->
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>
  
  <!-- seconadary navigation -->
  <div id="secondaryNav" class="govuk-width-container">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/internal/v01-1/">Home</a>
        </li>

        <!-- <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="#1">Nav item 1</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#2">Nav item 2</a>
        </li>
    
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" href="#3">Nav item 3</a>
        </li> -->

        <li class="moj-sub-navigation__item">
          <div class="dropdown">
            <a class="moj-sub-navigation__link dropbtn" href="#4">Admin</a>
            <div class="dropdown-container">
              <div class="dropdown-content">
                <a href="/internal/v01-1/external-users/">External users</a>
                <a href="/internal/v01-1/internal-users/">Internal users</a>
                <a href="/internal/v01-1/accounts/">Accounts</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <p id="headerUsername" class="username-style"></p>
  </div>
{% endblock %}




{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script src="/public/javascripts/step-by-step-polyfills.js"></script>
  <script src="/public/javascripts/fetchAccounts.js"></script>
  <script src="/public/javascripts/accounts.js"></script>
{% endblock %}