{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}

  <!-- Phase banner -->
  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: {
        text: "Beta"
      },
      html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
  </div>
  
  <!-- seconadary navigation -->
  
  <div id="secondaryNav" class="govuk-width-container">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link" aria-current="page" href="/internal/v01-1/">Home</a>
        </li>

        <li class="moj-sub-navigation__item">
          <div class="dropdown">
            <a class="moj-sub-navigation__link dropbtn" href="#4">Admin</a>
            <div class="dropdown-container">
              <div class="dropdown-content">
                <a href="/internal/v01-1/external-users/">External users</a>
                <a href="/internal/v01-1/internal-users/">Internal users</a>
                <a href="/internal/v01-1/accounts/">Accounts</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <p id="headerUsername" class="username-style"></p>
  </div>

  <!-- <div class="govuk-width-container">
    <ul role="menubar" aria-label="functions" id="appmenu">
      
      <li role="menuitem">
        <a class="" aria-current="page" href="/internal/v01-1/">Home</a>
      </li>

      <li role="menuitem" aria-haspopup="true">
        File
        <ul role="menu">
          <li role="menuitem">New</li>
          <li role="menuitem">Open</li>
          <li role="menuitem">Print</li>
        </ul>
      </li>
      <li role="menuitem" aria-haspopup="true">
        Edit
        <ul role="menu">
          <li role="menuitem">Undo</li>
          <li role="menuitem">Redo</li>
          <li role="menuitem">Cut</li>
          <li role="menuitem">Copy</li>
          <li role="menuitem">Paste</li>
        </ul>
      </li>
      <li role="menuitem" aria-haspopup="true">
        Format
        <ul role="menu">
          <li role="menuitem">Font</li>
          <li role="menuitem">Text</li>
        </ul>
      </li>
      <li role="menuitem" aria-haspopup="true">
        View
        <ul role="menu">
          <li role="menuitem">100%</li>
          <li role="menuitem">Zoom In</li>
          <li role="menuitem">Zoom Out</li>
        </ul>
      </li>
    </ul>
  </div> -->


  <!--
  <nav aria-label="Great British Insulation Scheme">
    <div class="govuk-width-container">
      <ul class="menubar-navigation "
          role="menubar"
          aria-label="Great British Insulation Scheme">
        <li role="none">
          <a  href="/internal/v01-1/">
            Home
          </a>
        </li>
        <li role="none">
          <a 
            aria-haspopup="true"
            aria-expanded="false"
            href="#admin">
            Admin
            <svg xmlns="http://www.w3.org/2000/svg"
                class="down"
                width="12"
                height="9"
                viewBox="0 0 12 9">
              <polygon points="1 0, 11 0, 6 8"></polygon>
            </svg>
          </a>
          <ul role="menu" aria-label="Admin">
            <li role="none">
              <a  href="/internal/v01-1/external-users/">
                External users
              </a>
            </li>
            <li role="none">
              <a  href="/internal/v01-1/internal-users/">
                Internal users
              </a>
            </li>
            <li role="none">
              <a  href="/internal/v01-1/accounts/">
                Accounts
              </a>
            </li>

            
            <li role="none">
              <a 
                aria-haspopup="true"
                aria-expanded="false"
                href="#facts">
                Facts
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="right"
                    width="9"
                    height="12"
                    viewBox="0 0 9 12">
                  <polygon points="0 1, 0 11, 8 6"></polygon>
                </svg>
              </a>
              <ul role="menu" aria-label="Facts">
                <li role="none">
                  <a  href="#history">
                    History
                  </a>
                </li>
                <li role="none">
                  <a  href="#current-statistics">
                    Current Statistics
                  </a>
                </li>
                <li role="none">
                  <a  href="#awards">
                    Awards
                  </a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a 
                aria-haspopup="true"
                aria-expanded="false"
                href="#campus-tours">
                Campus Tours
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="right"
                    width="9"
                    height="12"
                    viewBox="0 0 9 12">
                  <polygon points="0 1, 0 11, 8 6"></polygon>
                </svg>
              </a>
              <ul role="menu" aria-label="Campus Tours">
                <li role="none">
                  <a  href="#for-prospective-students">
                    For prospective students
                  </a>
                </li>
                <li role="none">
                  <a  href="#for-alumni">
                    For alumni
                  </a>
                </li>
                <li role="none">
                  <a  href="#for-visitors">
                    For visitors
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        
        <li role="none">
          <a 
            aria-haspopup="true"
            aria-expanded="false"
            href="#admissions">
            Admissions
            <svg xmlns="http://www.w3.org/2000/svg"
                class="down"
                width="12"
                height="9"
                viewBox="0 0 12 9">
              <polygon points="1 0, 11 0, 6 8"></polygon>
            </svg>
          </a>
          <ul role="menu" aria-label="Admissions">
            <li role="none">
              <a  href="#apply">
                Apply
              </a>
            </li>
            <li role="none">
              <a 
                aria-haspopup="true"
                aria-expanded="false"
                href="#tuition">
                Tuition
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="right"
                    width="9"
                    height="12"
                    viewBox="0 0 9 12">
                  <polygon points="0 1, 0 11, 8 6"></polygon>
                </svg>
              </a>
              <ul role="menu" aria-label="Tuition">
                <li role="none">
                  <a  href="#undergraduate">
                    Undergraduate
                  </a>
                </li>
                <li role="none">
                  <a  href="#graduate">
                    Graduate
                  </a>
                </li>
                <li role="none">
                  <a  href="#professional-schools">
                    Professional Schools
                  </a>
                </li>
              </ul>
            </li>
            <li role="none">
              <a  href="#sign-up">
                Sign Up
              </a>
            </li>
            <li role="separator"></li>
            <li role="none">
              <a  href="#visit">
                Visit
              </a>
            </li>
            <li role="none">
              <a  href="#photo-tour">
                Photo Tour
              </a>
            </li>
            <li role="none">
              <a  href="#connect">
                Connect
              </a>
            </li>
          </ul>
        </li>
        <li role="none">
          <a 
            aria-haspopup="true"
            aria-expanded="false"
            href="#academics">
            Academics
            <svg xmlns="http://www.w3.org/2000/svg"
                class="down"
                width="12"
                height="9"
                viewBox="0 0 12 9">
              <polygon points="1 0, 11 0, 6 8"></polygon>
            </svg>
          </a>
          <ul role="menu"
              id="sub-menu-academics"
              aria-label="Academics">
            <li role="none">
              <a  href="#colleges-and-schools">
                Colleges & Schools
              </a>
            </li>
            <li role="none">
              <a  href="#programs-of-study">
                Programs of Study
              </a>
            </li>
            <li role="none">
              <a  href="#honors-programs">
                Honors Programs
              </a>
            </li>
            <li role="none">
              <a  href="#online-courses">
                Online Courses
              </a>
            </li>
            <li role="separator"></li>
            <li role="none">
              <a  href="#course-explorer">
                Course Explorer
              </a>
            </li>
            <li role="none">
              <a  href="#register-for-class">
                Register for Class
              </a>
            </li>
            <li role="none">
              <a  href="#academic-calendar">
                Academic Calendar
              </a>
            </li>
            <li role="none">
              <a  href="#tanscripts">
                Transcripts
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p id="headerUsername" class="username-style"></p>
    </div>
  </nav>
-->

{% endblock %}




{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerItems,
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/step-by-step-navigation.js"></script>
  <script src="/public/javascripts/step-by-step-polyfills.js"></script>
  <script src="/public/javascripts/fetchAccounts.js"></script>
  <script src="/public/javascripts/accounts.js"></script>
  <script src="/public/javascripts/menubar-navigation.js"></script>
{% endblock %}